<ul class="navires no-decoration" id="navires" data-prototype='
        <div class="row">
            <div class="form__group horizontal__form" style="width: 250px;">
                {% include 'formThemes/navireFormTheme.html.twig' with {'navire': form.navires.vars.prototype.navire} %}
            </div>
            <div class="form__group horizontal__form" style="flex-grow: 2;">
                <fieldset class="vertical">
                    {{ form_label(form.navires.vars.prototype.controles, null, {'element': 'legend'} ) }}
                    {{ form_errors(form.navires.vars.prototype.controles) }}
                    {% for box in form.navires.vars.prototype.controles %}
                        {% include 'formThemes/horizontalCheckboxFormTheme.html.twig' with {'box': box} %}
                    {% endfor %}
                </fieldset>
            </div>
            <div style="flex-grow: 1">
                {{ form_label(form.navires.vars.prototype.methodeCiblage) }}
                {{ form_errors(form.navires.vars.prototype.methodeCiblage) }}
                {{ form_widget(form.navires.vars.prototype.methodeCiblage) }}
            </div>
        </div>
        <div class="row" style="justify-content: flex-start;align-items: center;">
            <div class="form__group horizontal__form">
                {{ form_widget(form.navires.vars.prototype.pv, {'attr': {'class': 'switch'}}) }}
                {{ form_label(form.navires.vars.prototype.pv, null, {'label_attr': {'class': "label-inline"}}) }}
                {{ form_errors(form.navires.vars.prototype.pv) }}
            </div>
            <div class="form__group horizontal__form" style="min-width: 150px;">
                {{ form_label(form.navires.vars.prototype.natinfs) }}
                {{ form_widget(form.navires.vars.prototype.natinfs, {'attr': {'class': "select2", 'style': "width: 100%"}}) }}
                {{ form_errors(form.navires.vars.prototype.natinfs) }}
            </div>
            <button type="button" class="button"><i class="fas fa-search"></i> Rechercher un code</button>
        </div>
        <div class="form__group horizontal__form">
            {{ form_label(form.navires.vars.prototype.commentaire) }}
            {{ form_errors(form.navires.vars.prototype.commentaire) }}
            {{ form_widget(form.navires.vars.prototype.commentaire) }}
        </div>
    '>
    {% for navireControle in form.navires %}
        <li class="navire">
            <div class="row">
                <div class="form__group horizontal__form" style="width: 250px;">
                    {% include 'formThemes/navireFormTheme.html.twig' with {'navire': navireControle.navire} %}
                </div>
                <div class="form__group horizontal__form" style="flex-grow: 2;">
                    <fieldset class="vertical">
                        {{ form_label(navireControle.controles, null, {'element': 'legend'} ) }}
                        {{ form_errors(navireControle.controles) }}
                        {% for box in navireControle.controles %}
                            {% include 'formThemes/horizontalCheckboxFormTheme.html.twig' with {'box': box} %}
                        {% endfor %}
                    </fieldset>
                </div>
                <div style="flex-grow: 1">
                    {{ form_label(navireControle.methodeCiblage) }}
                    {{ form_errors(navireControle.methodeCiblage) }}
                    {{ form_widget(navireControle.methodeCiblage) }}
                </div>
            </div>
            <div class="row" style="justify-content: flex-start;align-items: center;">
                <div class="form__group horizontal__form">
                    {{ form_widget(navireControle.pv, {'attr': {'class': 'switch'}}) }}
                    {{ form_label(navireControle.pv, null, {'label_attr': {'class': "label-inline"}}) }}
                    {{ form_errors(navireControle.pv) }}
                </div>
                <div class="form__group horizontal__form" style="min-width: 150px;">
                    {{ form_label(navireControle.natinfs) }}
                    {{ form_widget(navireControle.natinfs, {'attr': {'class': "select2", 'style': "width: 100%"}}) }}
                    {{ form_errors(navireControle.natinfs) }}
                </div>
                <button type="button" class="button"><i class="fas fa-search"></i> Rechercher un code</button>
            </div>
            <div class="form__group horizontal__form">
                {{ form_label(navireControle.commentaire) }}
                {{ form_errors(navireControle.commentaire) }}
                {{ form_widget(navireControle.commentaire) }}
            </div>
        </li>
    {% endfor %}
</ul>
