<ul class="navires no-decoration" id="navires">
    <li :class="index % 2 ? 'navire' : 'section-grey navire'" v-for="(controle, index) in activites['navire'].controles">
        <div class="row">
            <div class="form__group horizontal__form" style="width: 250px;">
                {% include 'formThemes/navireFormTheme.html.twig' with {'navire': form.navires.vars.prototype.navire} %}
            </div>
            <div class="form__group horizontal__form" style="flex-grow: 2;">
                <fieldset class="vertical">
                    {{ form_label(form.navires.vars.prototype.controleNavireRealises, null, {'element': 'legend'} ) }}
                    {{ form_errors(form.navires.vars.prototype.controleNavireRealises) }}
                    {% for box in form.navires.vars.prototype.controleNavireRealises %}
                        {% if box.vars.label in controlesULAM %}
                            {% if "Autre" == box.vars.label %}
                                {% set attr={'v-model': "controle.controleNavireRealises",
                                    '@change': "toggleCheckAutre($event, index)",
                                    'v-bind:name': "'activite_navire[navires]['+index+'][controleNavireRealises][]'",
                                    'v-bind:id': "'activite_navire_navires_'+index+'_controleNavireRealises_'+"~box.vars.value} %}
                            {% else %}
                                {% set attr={'v-model': "controle.controleNavireRealises",
                                    'v-bind:name': "'activite_navire[navires]['+index+'][controleNavireRealises][]'",
                                    'v-bind:id': "'activite_navire_navires_'+index+'_controleNavireRealises_'+"~box.vars.value} %}
                            {% endif %}
                            {% include 'formThemes/horizontalCheckboxFormTheme.html.twig' with {'box': box, 'attr': attr } %}
                            {% if "Autre" == box.vars.label %}
                                {{ form_widget(form.navires.vars.prototype.detailControle, {'attr': {
                                    'v-model': "controle.detailControle",
                                    'v-if': "controle.showDetail",
                                    'v-bind:name': "'activite_navire[navires]['+index+'][detailControle]'",
                                    'v-bind:id': "'activite_navire_navires_'+index+'_detailControle_'+"~box.vars.value
                                }} ) }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}


                    {% for box in form.navires.vars.prototype.controleNavireRealises %}
                        {% if box.vars.label in controlesGM %}
                            {% set attr={'v-model': "controle.controleNavireRealises",
                                '@change': "toggleCheckGM($event, '.controlesGMArmementSousItem')",
                                'v-bind:name': "'activite_navire[navires]['+index+'][controleNavireRealises][]'",
                                'v-bind:id': "'activite_navire_navires_'+index+'_controleNavireRealises_'+"~box.vars.value} %}
                            {% include 'formThemes/horizontalCheckboxFormTheme.html.twig' with {'box': box, 'attr': attr, 'spanClass': 'mt-2' } %}
                        {% endif %}
                    {% endfor %}


                    {% for box in form.navires.vars.prototype.controleNavireRealises %}
                        {% if box.vars.label in controlesGMSousItem %}
                            {% set attr={'v-model': "controle.controleNavireRealises",
                                'v-bind:name': "'activite_navire[navires]['+index+'][controleNavireRealises][]'",
                                'v-bind:id': "'activite_navire_navires_'+index+'_controleNavireRealises_'+"~box.vars.value} %}
                            {% include 'formThemes/horizontalCheckboxFormTheme.html.twig' with {'box': box, 'attr': attr, 'spanClass': 'ml-2 controlesGMArmementSousItem' } %}
                        {% endif %}
                    {% endfor %}

                    {% for box in form.navires.vars.prototype.controleNavireRealises %}
                        {% if box.vars.label in controlesGMPersonnel %}
                            {% set attr={'v-model': "controle.controleNavireRealises",
                                '@change': "toggleCheckGM($event, '.controlesGMPersonnelSousItem')",
                                'v-bind:name': "'activite_navire[navires]['+index+'][controleNavireRealises][]'",
                                'v-bind:id': "'activite_navire_navires_'+index+'_controleNavireRealises_'+"~box.vars.value} %}
                            {% include 'formThemes/horizontalCheckboxFormTheme.html.twig' with {'box': box, 'attr': attr, 'spanClass': 'mt-2' } %}
                        {% endif %}
                    {% endfor %}


                    {% for box in form.navires.vars.prototype.controleNavireRealises %}
                        {% if box.vars.label in controlesGMPersonnelSousItem %}
                            {% set attr={'v-model': "controle.controleNavireRealises",
                                'v-bind:name': "'activite_navire[navires]['+index+'][controleNavireRealises][]'",
                                'v-bind:id': "'activite_navire_navires_'+index+'_controleNavireRealises_'+"~box.vars.value} %}
                            {% include 'formThemes/horizontalCheckboxFormTheme.html.twig' with {'box': box, 'attr': attr, 'spanClass': 'ml-2 controlesGMPersonnelSousItem' } %}
                        {% endif %}
                    {% endfor %}
                </fieldset>
                <div>
                    <p>Dispositif de dissuasion accoustique des cétacés :</p>
                    {% include 'formThemes/horizontalCheckboxFormTheme.html.twig' with
                        {'box': form.navires.vars.prototype.pingerApplicable, 'attr': {'v-model': "controle.pingerApplicable",
                            '@change': "togglePinger(index)",
                            'v-bind:name': "'activite_navire[navires]['+index+'][pingerApplicable]'",
                            'v-bind:id': "'activite_navire_navires_'+index+'_pinger_applicable'"}}
                    %}
                    <div v-if="controle.pingerPresent !== null" style="margin-left: 2em;">
                        {% include 'formThemes/horizontalCheckboxFormTheme.html.twig' with
                            {'box': form.navires.vars.prototype.pingerPresent, 'attr': {'v-model': "controle.pingerPresent",
                                'v-bind:name': "'activite_navire[navires]['+index+'][pingerPresent]'",
                                'v-bind:id': "'activite_navire_navires_'+index+'_pinger_pressent'"}} 
                        %}
                    </div>
                </div>
            </div>
            <div style="flex-grow: 1">
                {% include 'formThemes/stackedRadioFormTheme.html.twig' with
                    {'form': form.navires.vars.prototype.methodeCiblage, 'attr': {
                        'v-model': "controle.methodeCiblage",
                        'v-bind:name': "'activite_navire[navires]['+index+'][methodeCiblage]'",
                        'v-bind:id': "'activite_navire_navires_'+index+'_methodeCiblage'"} } %}
                <div class="form__group" style="padding-bottom: 1em;">
                    {{ form_label(form.navires.vars.prototype.date, null, {'label_attr': {'class': "label-inline"}}) }}
                    {{ form_errors(form.navires.vars.prototype.date) }}
                    <input-date-time v-model="controle.date"
                                     v-bind:required="true"
                                     v-bind:name="'activite_navire[navires]['+index+'][date]'"
                                     v-bind:id="'activite_navire_navires_'+index+'_date'"></input-date-time>
                    {% do form.navires.vars.prototype.date %}
                </div>
                <div class="form__group">
                    {{ form_label(form.navires.vars.prototype.terrestre) }}
                    <label class="switch-text">
                        {{ form_widget(form.navires.vars.prototype.terrestre, {'attr': {
                            'v-model': "controle.terrestre",
                            'v-bind:name': "'activite_navire[navires]['+index+'][terrestre]'",
                            'v-bind:id': "'activite_navire_navires_'+index+'_terrestre'"}}) }}
                        <span class="slider">
                            <span class="first-option">Mer&nbsp;</span>
                            <span class="second-option">Terre</span>
                        </span>
                        <div class="form__errors">
                            {{ form_errors(form.navires.vars.prototype.terrestre) }}
                        </div>
                    </label>
                </div>
                <div style="padding-bottom: 1em;">
                    {{ form_widget(form.navires.vars.prototype.aireProtegee, {'attr': {'v-model': "controle.aireProtegee",
                        'v-bind:name': "'activite_navire[navires]['+index+'][aireProtegee]'",
                        'v-bind:id': "'activite_navire_navires_'+index+'_aireProtegee'"}}) }}
                    {{ form_label(form.navires.vars.prototype.aireProtegee, null, {'label_attr': {'class': "label-inline"}}) }}
                    {{ form_errors(form.navires.vars.prototype.aireProtegee) }}
                </div>
                <div style="padding-bottom: 1em;">
                    {{ form_widget(form.navires.vars.prototype.chloredeconeTotal, {'attr': {'v-model': "controle.chloredeconeTotal",
                        'v-bind:name': "'activite_navire[navires]['+index+'][chloredeconeTotal]'",
                        'v-bind:id': "'activite_navire_navires_'+index+'_chloredeconeTotal'"}}) }}
                    {{ form_label(form.navires.vars.prototype.chloredeconeTotal, null, {'label_attr': {'class': "label-inline"}}) }}
                    {{ form_errors(form.navires.vars.prototype.chloredeconeTotal) }}
                </div>
                <div style="padding-bottom: 1em;">
                    {{ form_widget(form.navires.vars.prototype.chloredeconePartiel, {'attr': {'v-model': "controle.chloredeconePartiel",
                        'v-bind:name': "'activite_navire[navires]['+index+'][chloredeconePartiel]'",
                        'v-bind:id': "'activite_navire_navires_'+index+'_chloredeconePartiel'"}}) }}
                    {{ form_label(form.navires.vars.prototype.chloredeconePartiel, null, {'label_attr': {'class': "label-inline"}}) }}
                    {{ form_errors(form.navires.vars.prototype.chloredeconePartiel) }}
                </div>
                <div class="" style="">
                    <div class="form__group horizontal__form" style="max-width: 20em;">
                        {{ form_label(form.navires.vars.prototype.lat, null, {'label_attr': {'class': "label-inline"}}) }}
                        <input-geo-coordinate coord_type="lat" 
                        	:name="'activite_navire[navires]['+index+'][lat]'"
                        	:id="'activite_navire_navires_'+index+'_lat'"
                        	v-model="controle.lat"></input-geo-coordinates>
                    </div>
                    <div class="form__group horizontal__form" style="max-width: 20em;">
                        {{ form_label(form.navires.vars.prototype.long, null, {'label_attr': {'class': "label-inline"}}) }}
                        <input-geo-coordinate coord_type="long" 
                        	:name="'activite_navire[navires]['+index+'][long]'"
                        	:id="'activite_navire_navires_'+index+'_long'"
                        	v-model="controle.long"></input-geo-coordinates>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="justify-content: flex-start;align-items: center;">
            <div class="form__group horizontal__form">
                {% include 'formThemes/switchFormTheme.html.twig' with {'form': form.navires.vars.prototype.pv, 'attr': {
                        'v-model': "controle.pv",
                        'v-bind:name': "'activite_navire[navires]['+index+'][pv]'",
                        'v-bind:id': "'activite_navire_navires_'+index+'_pv'"},
                    'label_attr': {
                        'v-bind:for': "'activite_navire_navires_'+index+'_pv'"}} %}
            </div>
            <div class="form__group horizontal__form" style="min-width: 150px;">
                {{ form_label(form.navires.vars.prototype.natinfs) }}
                <select multiple
                        v-bind:name="'activite_navire[navires]['+index+'][natinfs][]'"
                        v-bind:id="'activite_navire_navires_'+index+'_natinfs'"
                        v-model="controle.natinfs"
                        style="display:none;">
                    <option v-for="option in controle.natinfs" :value="option" v-html="option">
                    </option>
                </select>
                <v-select :multiple="true" :filterable="false" @search="getNatinfData" v-model="controle.natinfs"
                          :options="natinfsOptions">
                    <template slot="no-options">
                        Entrez un code Natinf
                    </template>
                </v-select>
                {% do form.navires.vars.prototype.natinfs.setRendered %}
                {{ form_errors(form.navires.vars.prototype.natinfs) }}
            </div>
            <div style="flex-grow: 2;"></div>
            <div>
                <label class="horizontal__form">
                    <input type="checkbox" @change="updateDeroutement($event, index)" v-model="controle.isDeroutement">
                    Navire accompagné ou dérouté
                </label>
                <div class="horizontal__form form__group" v-if="controle.isDeroutement">
                    {{ form_label(form.navires.vars.prototype.deroutement, null, {'label_attr': {'class': "required"}}) }}
                    {{ form_widget(form.navires.vars.prototype.deroutement, {'attr':
                    {'v-model': "controle.deroutement",
                        'v-bind:name': "'activite_navire[navires]['+index+'][deroutement]'",
                        'v-bind:id': "'activite_navire_navires_'+index+'_deroutement'"}}) }}
                </div>
            </div>
        </div>
        <div class="form__group horizontal__form">
            {{ form_label(form.navires.vars.prototype.commentaire) }}
            {{ form_errors(form.navires.vars.prototype.commentaire) }}
            {{ form_widget(form.navires.vars.prototype.commentaire, {'attr': {'v-model': "controle.commentaire",
                'v-bind:name': "'activite_navire[navires]['+index+'][commentaire]'",
                'v-bind:id': "'activite_navire_navires_'+index+'_commentaire'"}}) }}
        </div>
        <div style="display: flex; justify-content: flex-end">
            <button type="button" class="button warning" @click="removeControle('navire', index)">
                <i class="fas fa-trash-alt"></i>
                Supprimer ce contrôle
            </button>
        </div>
    </li>
    <li>
        <button type="button" id="add-controle-navire" class="add_navire_link button" @click="addControle('navire')">
            Ajouter un navire contrôlé
        </button>
    </li>
</ul>
