<ul class="etablissements no-decoration" id="etablissements">
    <li :class="index % 2 ? 'etablissement' : 'section-grey etablissement'" v-for="(controle, index) in missions['commerce'].controles">
        <div class="row">
            <div>
                <div class="form__group horizontal__form">
                    {{ form_label(form.etablissements.vars.prototype.etablissement.nom) }}
                    {{ form_errors(form.etablissements.vars.prototype.etablissement.nom) }}
                    {{ form_widget(form.etablissements.vars.prototype.etablissement.nom, {'attr': {'v-model': "controle.etablissement.nom"}}) }}
                </div>
                <div class="form__group horizontal__form">
                    {{ form_label(form.etablissements.vars.prototype.etablissement.adresse) }}
                    {{ form_errors(form.etablissements.vars.prototype.etablissement.adresse) }}
                    {{ form_widget(form.etablissements.vars.prototype.etablissement.adresse, {'attr': {'v-model': "controle.etablissement.adresse"}}) }}
                </div>
                <div class="form__group horizontal__form">
                    {{ form_label(form.etablissements.vars.prototype.etablissement.commune) }}
                    {{ form_errors(form.etablissements.vars.prototype.etablissement.commune) }}
                    {{ form_widget(form.etablissements.vars.prototype.etablissement.commune, {'attr': {'v-model': "controle.etablissement.commune"}}) }}
                </div>
                <div class="form__group horizontal__form">
                    {{ form_label(form.etablissements.vars.prototype.etablissement.type) }}
                    {{ form_errors(form.etablissements.vars.prototype.etablissement.type) }}
                    {{ form_widget(form.etablissements.vars.prototype.etablissement.type, {'attr': {'v-model': "controle.etablissement.type"}}) }}
                </div>
            </div>
            <div class="form__group horizontal__form">
                {{ form_label(form.etablissements.vars.prototype.bateauxControles) }}
                {{ form_errors(form.etablissements.vars.prototype.bateauxControles) }}
                {{ form_widget(form.etablissements.vars.prototype.bateauxControles, {'attr': {'v-model': "controle.bateauxControles"}}) }}
            </div>
            <div class="form__group" style="padding-bottom: 1em;">
                {{ form_label(form.etablissements.vars.prototype.date, null, {'label_attr': {'class': "label-inline"}}) }}
                {{ form_errors(form.etablissements.vars.prototype.date) }}
                <input-date-time v-model="controle.date" name="{{ form.etablissements.vars.prototype.date.vars.full_name }}"></input-date-time>
                {% do form.etablissements.vars.prototype.date %}
            </div>
        </div>
        <div class="row">
            <div class="form__group horizontal__form">
                {{ form_label(form.etablissements.vars.prototype.pv) }}
                {{ form_errors(form.etablissements.vars.prototype.pv) }}
                {{ form_widget(form.etablissements.vars.prototype.pv, {'attr': {'v-model': "controle.pv"}}) }}
            </div>

            <div class="form__group horizontal__form">
                {{ form_label(form.etablissements.vars.prototype.natinfs) }}
                <select multiple
                        id="{{ form.etablissements.vars.prototype.natinfs.vars.id }}"
                        name="{{ form.etablissements.vars.prototype.natinfs.vars.full_name }}"
                        v-model="controle.natinfs"
                        style="display:none;">
                    <option v-for="option in controle.natinfs" :value="option" v-html="option">
                    </option>
                </select>
                <v-select :multiple="true" :filterable="false" @search="getNatinfData" v-model="controle.natinfs"
                          :options="natinfsOptions">
                    <template slot="no-options">
                        Entrez un code Natinf
                    </template>
                </v-select>
                {% do form.etablissements.vars.prototype.natinfs.setRendered %}
                {{ form_errors(form.etablissements.vars.prototype.natinfs) }}
            </div>
        </div>

        <div class="form__group horizontal__form">
            {{ form_label(form.etablissements.vars.prototype.commentaire) }}
            {{ form_errors(form.etablissements.vars.prototype.commentaire) }}
            {{ form_widget(form.etablissements.vars.prototype.commentaire, {'attr': {'v-model': "controle.commentaire"}}) }}
        </div>
        <div style="display: flex; justify-content: flex-end">
            <button type="button" class="button warning" @click="removeControle('commerce', index)">
                <i class="fas fa-trash-alt"></i>
                Supprimer ce contrôle
            </button>
        </div>
    </li>
    <li>
        <button type="button" id="add-controle-commerce" class="add_navire_link button"
                @click="addControle('commerce')">
            Ajouter un établissement contrôlé
        </button>
    </li>
</ul>