<ul class="loisirs no-decoration" id="loisirs">
    <li :class="index % 2 ? 'loisir' : 'section-grey loisir'" v-for="(controle, index) in missions['loisir'].controles"
        style="padding: 15px 15px 0 15px;">
        <div class="row">
            <div>
                <div class="form__group">
                    {{ form_label(form.loisirs.vars.prototype.loisir) }}
                    {{ form_errors(form.loisirs.vars.prototype.loisir) }}
                    {{ form_widget(form.loisirs.vars.prototype.loisir, {'attr': {
                        'v-model': "controle.loisir",
                        '@change': "toggleSelectAutre('loisir', $event, index)",
                        'v-bind:name': "'mission_loisir[loisirs]['+index+'][loisir]'",
                        'v-bind:id': "'mission_loisir_loisirs_'+index+'_loisir'"}}) }}
                </div>
                <div class="form__group" v-if="controle.showDetail">
                    {{ form_label(form.loisirs.vars.prototype.detailLoisir) }}
                    {{ form_errors(form.loisirs.vars.prototype.detailLoisir) }}
                    {{ form_widget(form.loisirs.vars.prototype.detailLoisir, {'attr': {
                        'v-model': "controle.detailLoisir",
                        'v-bind:name': "'mission_loisir[loisirs]['+index+'][detailLoisir]'",
                        'v-bind:id': "'mission_loisir_loisirs_'+index+'_detailLoisir'"}}) }}
                </div>
            </div>
            <div class="form__group horizontal__form">
                {{ form_label(form.loisirs.vars.prototype.nombreControle) }}
                {{ form_errors(form.loisirs.vars.prototype.nombreControle) }}
                {{ form_widget(form.loisirs.vars.prototype.nombreControle, {'attr': {
                    'v-model': "controle.nombreControle",
                    'v-bind:name': "'mission_loisir[loisirs]['+index+'][nombreControle]'",
                    'v-bind:id': "'mission_loisir_loisirs_'+index+'_nombreControle'"}}) }}
            </div>
            <div class="form__group horizontal__form">
                {{ form_label(form.loisirs.vars.prototype.nombreControleAireProtegee) }}
                {{ form_errors(form.loisirs.vars.prototype.nombreControleAireProtegee) }}
                {{ form_widget(form.loisirs.vars.prototype.nombreControleAireProtegee, {'attr': {
                    'v-model': "controle.nombreControleAireProtegee",
                    'v-bind:name': "'mission_loisir[loisirs]['+index+'][nombreControleAireProtegee]'",
                    'v-bind:id': "'mission_loisir_loisirs_'+index+'_nombreControleAireProtegee'"}}) }}
            </div>
            <div class="form__group horizontal__form">
                {{ form_label(form.loisirs.vars.prototype.nombrePv) }}
                {{ form_errors(form.loisirs.vars.prototype.nombrePv) }}
                {{ form_widget(form.loisirs.vars.prototype.nombrePv, {'attr': {
                    'v-model': "controle.nombrePv",
                    'v-on:input': "val => {controle.pv = (val > 0);}",
                    'v-bind:name': "'mission_loisir[loisirs]['+index+'][nombrePv]'",
                    'v-bind:id': "'mission_loisir_loisirs_'+index+'_nombrePv'"}}) }}
                <input type="hidden" v-model="controle.pv"/>
            </div>
        </div>
        <div class="row">
            <div class="form__group horizontal__form">
                {{ form_label(form.loisirs.vars.prototype.natinfs) }}
                <select multiple
                        v-bind:name="'mission_loisir[loisirs]['+index+'][natinfs][]'"
                        v-bind:id="'mission_loisir_loisirs_'+index+'_natinfs'"
                        v-model="controle.natinfs"
                        style="display:none;">
                    <option v-for="option in controle.natinfs" :value="option" v-html="option">
                    </option>
                </select>
                <v-select :multiple="true" :filterable="false" @search="getNatinfData" v-model="controle.natinfs"
                          :options="natinfsOptions">
                    <template slot="no-options">
                        Entrez un code Natinf
                    </template>
                </v-select>
                {% do form.loisirs.vars.prototype.natinfs.setRendered %}
                {{ form_errors(form.loisirs.vars.prototype.natinfs) }}
            </div>
        </div>

        <div class="form__group horizontal__form">
            {{ form_label(form.loisirs.vars.prototype.commentaire) }}
            {{ form_errors(form.loisirs.vars.prototype.commentaire) }}
            {{ form_widget(form.loisirs.vars.prototype.commentaire, {'attr': {
                'v-model': "controle.commentaire",
                'v-bind:name': "'mission_loisir[loisirs]['+index+'][commentaire]'",
                'v-bind:id': "'mission_loisir_loisirs_'+index+'_commentaire'"}}) }}
        </div>
        <div style="display: flex; justify-content: flex-end">
            <button type="button" class="button warning" @click="removeControle('loisir', index)">
                <i class="fas fa-trash-alt"></i>
                Supprimer ce contrôle
            </button>
        </div>
    </li>
    <li>
        <button type="button" id="add-controle-loisir" class="add_loisir_link button"
                @click="addControle('loisir')">
            Ajouter un contrôle
        </button>
    </li>
</ul>