<ul class="etablissements no-decoration" data-prototype='
        <div class="form__group horizontal__form">
            {{ form_widget(form.etablissements.vars.prototype.etablissement)|e('html_attr') }}
        </div>
        <div class="form__group horizontal__form">
            {{ form_label(form.etablissements.vars.prototype.bateauxControles) }}
            {{ form_errors(form.etablissements.vars.prototype.bateauxControles) }}
            {{ form_widget(form.etablissements.vars.prototype.bateauxControles) }}
        </div>
        <div class="form__group horizontal__form">
            {{ form_label(form.etablissements.vars.prototype.pv)|e('html_attr') }}
            {{ form_errors(form.etablissements.vars.prototype.pv)|e('html_attr') }}
            {{ form_widget(form.etablissements.vars.prototype.pv)|e('html_attr') }}
        </div>
        <div class="form__group horizontal__form">
            {{ form_label(form.etablissements.vars.prototype.natinfs)|e('html_attr') }}
            {{ form_errors(form.etablissements.vars.prototype.natinfs)|e('html_attr') }}
            {{ form_widget(form.etablissements.vars.prototype.natinfs, {'attr': {'class': "select2"}})|e('html_attr') }}
        </div>
        <div class="form__group horizontal__form">
            {{ form_label(form.etablissements.vars.prototype.commentaire)|e('html_attr') }}
            {{ form_errors(form.etablissements.vars.prototype.commentaire)|e('html_attr') }}
            {{ form_widget(form.etablissements.vars.prototype.commentaire)|e('html_attr') }}
        </div>
    '>
    {% for etablissementControle in form.etablissements %}
        <li class="row etablissement">
            <div class="form__group horizontal__form">
                {{ form_widget(etablissementControle.etablissement) }}
            </div>
            <div class="form__group horizontal__form">
                {{ form_label(etablissementControle.bateauxControles) }}
                {{ form_errors(etablissementControle.bateauxControles) }}
                {{ form_widget(etablissementControle.bateauxControles) }}
            </div>
            <div class="form__group horizontal__form">
                {{ form_label(etablissementControle.pv) }}
                {{ form_errors(etablissementControle.pv) }}
                {{ form_widget(etablissementControle.pv) }}
            </div>
            <div class="form__group horizontal__form">
                {{ form_label(etablissementControle.natinfs) }}
                {{ form_errors(etablissementControle.natinfs) }}
                {{ form_widget(etablissementControle.natinfs, {'attr': {'class': "select2"}}) }}
            </div>
            <div class="form__group horizontal__form">
                {{ form_label(etablissementControle.commentaire) }}
                {{ form_errors(etablissementControle.commentaire) }}
                {{ form_widget(etablissementControle.commentaire) }}
            </div>
        </li>
    {% endfor %}
</ul>