<ul class="navires no-decoration" id="navires">
    <li :class="index % 2 ? 'navire' : 'section-grey navire'" v-for="(controle, index) in missions['navire'].controles">
        <div class="row">
            <div class="form__group horizontal__form" style="width: 250px;">
                {% include 'formThemes/navireFormTheme.html.twig' with {'navire': form.navires.vars.prototype.navire} %}
            </div>
            <div class="form__group horizontal__form" style="flex-grow: 2;">
                <fieldset class="vertical">
                    {{ form_label(form.navires.vars.prototype.controles, null, {'element': 'legend'} ) }}
                    {{ form_errors(form.navires.vars.prototype.controles) }}
                    {% for box in form.navires.vars.prototype.controles %}
                        {% include 'formThemes/horizontalCheckboxFormTheme.html.twig' with {'box': box, 'attr': {'v-model': "controle.controles"}} %}
                    {% endfor %}
                </fieldset>
            </div>
            <div style="flex-grow: 1">
                <div style="padding-bottom: 1em;">
                    {{ form_widget(form.navires.vars.prototype.aireProtegee, {'attr': {'v-model': "controle.aireProtegee"} }) }}
                    {{ form_label(form.navires.vars.prototype.aireProtegee, null, {'label_attr': {'class': "label-inline"}}) }}
                    {{ form_errors(form.navires.vars.prototype.aireProtegee) }}
                </div>
                <div style="padding-bottom: 1em;">
                    {{ form_label(form.navires.vars.prototype.date, null, {'label_attr': {'class': "label-inline"}}) }}
                    {{ form_errors(form.navires.vars.prototype.date) }}
                    <input-date-time v-model="controle.date" name="{{ form.navires.vars.prototype.date.vars.full_name }}"></input-date-time>
                    {% do form.navires.vars.prototype.date %}
                </div>
                {% include 'formThemes/stackedRadioFormTheme.html.twig' with
                    {'form': form.navires.vars.prototype.methodeCiblage, 'attr': {'v-model': "controle.methodeCiblage" } }
                %}
            </div>
        </div>
        <div class="row" style="justify-content: flex-start;align-items: center;">
            <div class="form__group horizontal__form">
                {% include 'formThemes/switchFormTheme.html.twig' with {'form': form.navires.vars.prototype.pv, 'attr': {'v-model': "controle.pv"}} %}
            </div>
            <div class="form__group horizontal__form" style="min-width: 150px;">
                {{ form_label(form.navires.vars.prototype.natinfs) }}
                <select multiple
                        id="{{ form.navires.vars.prototype.natinfs.vars.id }}"
                        name="{{form.navires.vars.prototype.natinfs.vars.full_name}}"
                        v-model="controle.natinfs"
                style="display:none;">
                    <option v-for="option in controle.natinfs" :value="option" v-html="option">
                    </option>
                </select>
                <v-select :multiple="true" :filterable="false" @search="getNatinfData" v-model="controle.natinfs" :options="natinfsOptions">
                    <template slot="no-options">
                        Entrez un code Natinf
                    </template>
                </v-select>
                {% do form.navires.vars.prototype.natinfs.setRendered %}
                {{ form_errors(form.navires.vars.prototype.natinfs) }}
            </div>
        </div>
        <div class="form__group horizontal__form">
            {{ form_label(form.navires.vars.prototype.commentaire) }}
            {{ form_errors(form.navires.vars.prototype.commentaire) }}
            {{ form_widget(form.navires.vars.prototype.commentaire, {'attr': {'v-model': "controle.commentaire"}}) }}
        </div>
        <div style="display: flex; justify-content: flex-end">
            <button type="button" class="button warning" @click="removeControle('navire', index)">
                <i class="fas fa-trash-alt"></i>
                Supprimer ce contrôle
            </button>
        </div>
    </li>
    <li>
        <button type="button" id="add-controle-navire" class="add_navire_link button" @click="addControle('navire')">
            Ajouter un navire contrôlé
        </button>
    </li>
</ul>
