{% extends 'navPro/base.html.twig' %}


{% block body %}
    <div class="fr-container">
        <h1 class="fr-mt-4w">Ajouter un contrôle GM</h1>

        {% for message in app.flashes('success') %}
            <div class="fr-alert fr-alert--success fr-mb-3w">
                <h3 class="fr-alert__title">Succès de l'enregistrement du contrôle</h3>
                <p>{{ message }}</p>
            </div>
        {% endfor %}

        <div class="fr-grid-row">
            <button class="fr-btn" data-fr-opened="false" aria-controls="fr-modal-administratif">
                Ajouter un contrôle administratif
            </button>
        </div>
        <div class="fr-grid-row fr-mt-4w" data-fr-opened="false" aria-controls="fr-modal-terrain">
            <button class="fr-btn">
                Ajouter un contrôle terrain (sur site)
            </button>
        </div>


        {% if contrUnitaires|length > 0 or contrLots|length > 0 %}
            <div class="fr-mt-4w">
                <h3>Contrôles effectués</h3>
            </div>


            <div class="fr-grid-row fr-mt-4w fr-mb-2w">
                <div class="fr-col-12">
                    <div class="fr-grid-row">
                        <div class="fr-col-md-1"></div>
                        <div class="fr-col-md-5"></div>
                        <div class="fr-col-md-2">Date</div>
                        <div class="fr-col-md-2">Statut</div>
                        <div class="fr-col-md-2"></div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="fr-grid-row">
            <div class="fr-col-12">
                {% if contrUnitaires|length > 0 %}
                    <h6>Contrôles unitaires</h6>
                {% endif %}

                <div class="fr-grid-row">
                    {% for contrUnit in contrUnitaires %}
                        <div class="fr-col-md-1 fr-mt-2v">
                            <span class="fr-fi-file-fill fr-fi--lg icon-current-report gm-controle-icon" aria-hidden="true"></span>
                        </div>
                        <div class="fr-col-md-5 fr-mt-2v">{{ contrUnit.type|formatControleGM }}</div>
                        <div class="fr-col-md-2 fr-mt-2v">{{ contrUnit.date|date('d/m/Y') }}</div>
                        <div class="fr-col-md-2 fr-mt-2v">
                            {% if contrUnit.brouillon %}
                                <span class="text-red">Brouillon</span>
                            {% else %}
                                <span class="text-blue">Validé</span>
                            {% endif %}
                        </div>
                        <div class="fr-col-md-2 fr-mt-2v"><a class="fr-btn" href="{{ path('app_navpro_default_modif_controle_unitaire', {'id': contrUnit.id}) }}">Ouvrir</a></div>
                    {% endfor %}
                </div>
            </div>

            <div class="fr-col-12">
                {% if contrLots|length > 0 %}
                    <h6>Contrôles par lots</h6>
                {% endif %}
                <div class="fr-grid-row">
                    {% for contrLot in contrLots %}
                        <div class="fr-col-md-1 fr-mt-2v">   <span class="fr-fi-file-fill fr-fi--lg icon-current-report gm-controle-icon" aria-hidden="true"></span></div>
                        <div class="fr-col-md-5 fr-mt-2v">{{ contrLot.type|formatControleGM }}</div>
                        <div class="fr-col-md-2 fr-mt-2v">{{ contrLot.date|date('d/m/Y') }}</div>
                        <div class="fr-col-md-2 fr-mt-2v">
                            {% if contrLot.brouillon %}
                                <span class="text-red">Brouillon</span>
                            {% else %}
                                <span class="text-blue">Validé</span>
                            {% endif %}
                        </div>
                        <div class="fr-col-md-2 fr-mt-2v"><a class="fr-btn" href="{{ path('app_navpro_default_modif_controle_lot', {'id': contrLot.id}) }}">Ouvrir</a></div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>


{% endblock %}
{% block modals %}
    <dialog aria-labelledby="fr-modal-title-administratif" role="dialog" id="fr-modal-administratif" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-link--close fr-link" title="Fermer la fenêtre modale" aria-controls="fr-modal-administratif">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-administratif" class="fr-modal__title"><span class="fr-fi-add-circle-fill fr-fi--lg"></span>Ajouter un contrôle administratif GM</h1>

                            <div class="fr-mt-4w">
                                <ul class="fr-btns-group">
                                    <li>
                                        <a class="fr-btn" href="{{ path('app_navpro_default_ajoutcontroleparlot', {'type': constant('App\\Entity\\NavPro\\ControleLot::TYPE_CONTROLE_ADMINISTRATIF') }) }}">
                                            Contrôle administratif par lot
                                        </a>
                                    </li>
                                    <li>
                                        <a class="fr-btn" href="{{ path('app_navpro_default_ajoutcontrole_unitaire', {'type': constant('App\\Entity\\NavPro\\ControleUnitaire::TYPE_CONTROLE_ADMINISTRATIF') }) }}">
                                            Contrôle administratif unitaire
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>

    <dialog aria-labelledby="fr-modal-title-terrain" role="dialog" id="fr-modal-terrain" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-link--close fr-link" title="Fermer la fenêtre modale" aria-controls="fr-modal-terrain">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-terrain" class="fr-modal__title"><span class="fr-fi-add-circle-fill fr-fi--lg"></span>Ajouter un contrôle terrain GM</h1>

                            <div class="fr-mt-4w">
                                <ul class="fr-btns-group">
                                    <li>
                                        <a class="fr-btn" href="{{ path('app_navpro_default_ajoutcontrole_unitaire', {'type': constant('App\\Entity\\NavPro\\ControleUnitaire::TYPE_CONTROLE_TERRAIN_MER') }) }}">
                                            Contrôle unitaire en mer
                                        </a>
                                    </li>
                                    <li>
                                        <a class="fr-btn" href="{{ path('app_navpro_default_ajoutcontrole_unitaire', {'type': constant('App\\Entity\\NavPro\\ControleUnitaire::TYPE_CONTROLE_TERRAIN_QUAI') }) }}">
                                            Contrôle unitaire à quai
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>


{% endblock %}
