{% extends 'navPro/base.html.twig' %}


{% block body %}
    <div class="fr-container">
        <h1 class="fr-mt-4w">Contrôle GM {{ titrePage }}</h1>

        <div class="fr-grid-row fr-mt-6w">
            <div class="fr-col-6">
                <form action="{{ action }}" method="post" id="form-controle" enctype="multipart/form-data">
                    <div class="fr-grid-row">
                        <div class="fr-col-3">
                            {{ form_label(form.date) }}
                            {{ form_widget(form.date) }}
                        </div>
                    </div>
                    <div class="fr-grid-row fr-mt-3w">
                        <div class="fr-col-6">
                                <div class="fr-grid-row fr-mt-4w">
                                    <div class="fr-col-12" id="enregistrementNavireForm">
                                        {{ form_label(form.navire) }}
                                        <small><em>Si le navire est sans immatriculation, cochez "Navire étrangers" </em></small>
                                        {{ form_widget(form.navire) }}
                                    </div>
                                  <div class="fr-col-12 fr-hidden" id="newVesselCheckboxSection">
                                    <div class="fr-grid-row fr-mt-3w">
                                      <fieldset class="fr-fieldset" id="checkboxes-inline" aria-labelledby="checkboxes-inline-legend checkboxes-inline-messages">
                                        <div class="fr-fieldset__element fr-fieldset__element--inline">
                                          <div class="fr-checkbox-group">
                                            <small class="text-red"><em>Aucun navire n'a été trouvé, voulez-vous ajouter un nouveau navire ?</em></small>
                                            <input type="checkbox" id="new-vessel" name="new-vessel"> <label for="new-vessel">Ajouter un nouveau navire</label>
                                          </div>
                                        </div>
                                      </fieldset>
                                    </div>
                                  </div>
                                  <div class="fr-col-12 fr-hidden" id="newVesselSection">
                                    <div class="fr-grid-row fr-mt-3w fr-background-contrast--beige-gris-galet fr-p-2w">
                                      {{ form_widget(form.nouveauNavire) }}
                                    </div>
                                  </div>
                                </div>
                                <div class="fr-grid-row fr-mt-3w" id="foreignVesselSection">
                                    <fieldset class="fr-fieldset" id="checkboxes-inline" aria-labelledby="checkboxes-inline-legend checkboxes-inline-messages">
                                        <div class="fr-fieldset__element fr-fieldset__element--inline">
                                            <div class="fr-checkbox-group">
                                                {{ form_widget(form.navireEtranger) }}
                                                {{ form_label(form.navireEtranger) }}
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                        </div>
                    </div>
                    <div class="fr-grid-row fr-grid-row--gutters fr-mt-3w row__controle-realises">
                        <div class="fr-col-6">
                            {{ form_label(form.controleRealisesArmement) }}
                            <fieldset class="fr-fieldset" id="checkboxes-inline" aria-labelledby="checkboxes-inline-legend checkboxes-inline-messages">
                                <div class="fr-fieldset__element fr-fieldset__element--inline">
                                    <div class="fr-checkbox-group fr-mt-2v">
                                        {{ form_widget(form.controleRealisesArmement) }}
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="fr-col-6">
                            {{ form_label(form.controleRealisesGM) }}
                            <fieldset class="fr-fieldset" id="checkboxes-inline" aria-labelledby="checkboxes-inline-legend checkboxes-inline-messages">
                                <div class="fr-fieldset__element fr-fieldset__element--inline">
                                    <div class="fr-checkbox-group fr-mt-2v">
                                        {{ form_widget(form.controleRealisesGM) }}
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="fr-grid-row fr-mt-6w">
                        <div class="fr-toggle fr-toggle--label-right">
                            {{ form_widget(form.pvEmis) }}
                            {{ form_label(form.pvEmis) }}
                        </div>

                        <div id="downloadModelesPV">
                            <div class="fr-grid-row fr-ml-4w">
                                <div class="fr-download fr-mt-2w">
                                    <p>
                                        <a id="download-rapport-docx" href="/DGAMPAGM3_Modèle_PV_CANGM.docx" download class="fr-download__link text-blue">Cliquer ici</a> pour télécharger le modèle de PV pour le contrôle de l'armement des navires et des GM au format
                                        <b>.docx</b> (Microsoft Word)
                                    </p>
                                    <p>
                                        <a id="download-rapport-odt" href="/DGAMPAGM3_Modèle_PV_CANGM.odt" download class="fr-download__link text-blue">Cliquer ici</a> pour télécharger le modèle de PV pour le contrôle de l'armement des navires et des GM au format
                                        <b>.odt</b> (LibreOffice / OpenOffice)
                                    </p>
                                </div>
                            </div>

                            <div class="fr-grid-row fr-ml-4w" id="nbPV">
                                <div class="fr-col-6">
                                    {{ form_label(form.nbPv) }}
                                    {{ form_widget(form.nbPv, {'attr': {'id': "nbPVInput"}}) }}
                                </div>
                            </div>
                            <div class="fr-grid-row fr-ml-4w fr-mt-2w" id="nbPV">
                                <div class="fr-col-6">
                                    <button type="button" id="btnUpload" class="fr-btn fr-btn--secondary fr-fi-upload-2-fill fr-btn--icon-left">Charger des fichiers PV</button>
                                </div>
                            </div>

                            <div class="fr-grid-row fr-mt-6w fr-grid-row--gutters" data-prototype="{{ _self.document_prototype(form.documents.vars.prototype)|e }}" id="collectionHolder">
                                {% set index = 0 %}
                                {% for formDocument in form.documents %}
                                    <div class="fr-col-6 uploadSection section{{ index }}">
                                        <div class="fr-card">
                                            <div class="fr-card__content fr-p-3w">
                                                <div class="fr-upload-group">
                                                    <label class="fr-label" for="file-upload">Procès-verbal n°{{ index+1 }}
                                                        <span class="fr-hint-text">Formats supportés : .odt, .docx, pdf. </span>
                                                    </label>
                                                    {{ form_widget(formDocument.file) }}
                                                </div>
                                            </div>
                                            <div class="fr-card__desc fr-p-1v">
                                                <a href="#" class="suppUpload{{ index }}">Supprimer</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% set index = index+1 %}
                                {% endfor %}
                            </div>
                        </div>

                    </div>

                    <div class="fr-grid-row fr-mt-6w">
                        {{ form_label(form.commentaire) }}
                        {{ form_widget(form.commentaire) }}
                    </div>


                    <div class="fr-grid-row fr-mt-4w action">
                        <button class="fr-btn" type="submit">Valider</button>
                        {% if brouillon %}
                            <button class="fr-btn fr-ml-2w" id="btn-brouillon">Enregistrer le brouillon</button>
                            <a href="#" class="fr-btn fr-btn--secondary fr-ml-4w" data-fr-opened="false" aria-controls="fr-modal-annuler">Annuler</a>
                        {% endif %}
                    </div>
                    {{ form_widget(form._token) }}
                </form>
            </div>
        </div>
    </div>

    <dialog aria-labelledby="fr-modal-title-annuler" role="dialog" id="fr-modal-annuler" class="fr-modal">
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button class="fr-link--close fr-link" title="Fermer la fenêtre modale" aria-controls="fr-modal-annuler" id="fermer-modale">Fermer</button>
                        </div>
                        <div class="fr-modal__content">
                            <h1 id="fr-modal-title-annuler" class="fr-modal__title">Annuler l'ajout d'un contrôle {{ titrePage }}</h1>

                            <div class="fr-mt-4w">
                                <ul class="fr-btns-group">
                                    <li>
                                        <a class="fr-btn fr-btn--secondary" id="btn-reset" href="#">
                                            Réinitialiser le formulaire
                                        </a>
                                    </li>
                                    <li>
                                        <a class="fr-btn fr-btn--danger" href="{{ path('app_navpro_accueil') }}">
                                            Retour à l'accueil
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dialog>



    {% macro document_prototype(d) %}
        {{ form_errors(d) }}
        <div class="fr-col-6 uploadSection section__index__">
            <div class="fr-card">
                <div class="fr-card__content fr-p-3w">
                    <div class="fr-upload-group">
                        <label class="fr-label" for="file-upload">Procès-verbal n°__numeropv__
                            <span class="fr-hint-text">Formats supportés : .odt, .docx, pdf. </span>
                        </label>
                        {{ form_widget(d.file) }}
                    </div>
                </div>
                <div class="fr-card__desc fr-p-1v">
                    <a href="#" class="suppUpload__index__">Supprimer</a>
                </div>
            </div>
        </div>
    {% endmacro %}


{% endblock %}


{% block javascripts %}
    <script>
        $(document).ready(function () {
          toggleRequiredFields(false)
          const $enregistrement = $('.fr-input-enregistrement')
          let $checkbox = document.getElementsByClassName('pv-emis-checkbox');
          $checkbox = $checkbox[0];
          const $downloadDocx = document.getElementById('download-rapport-docx');
          const $downloadOdt = document.getElementById('download-rapport-odt');
          const $downloadModelesPV = document.getElementById('downloadModelesPV');
          const $nbPv = document.getElementById('nbPV');
          const $nbPVInput = document.getElementById('controle_unitaire_nbPv');
          const $btnUpload = document.getElementById('btnUpload');

          handleCheckbox($checkbox, $downloadModelesPV, $nbPv)
          handleCheckbox($checkbox, $downloadModelesPV, $nbPv)

          $checkbox.addEventListener('change', function(){
            handleCheckbox($checkbox, $downloadModelesPV, $nbPv)
            handleCheckbox($checkbox, $downloadModelesPV, $nbPv)
          })

          function handleCheckbox(checkbox, download, nbPv) {
            if(checkbox.checked) {
              download.style.display = 'block';
              nbPv.style.display = 'block';
            } else {
              download.style.display = 'none';
              nbPv.style.display = 'none';
            }
          }

          const $btnBrouillon = document.getElementById("btn-brouillon");

          const $form = document.getElementById("form-controle");
          $btnBrouillon.addEventListener('click', function(e) {
            e.preventDefault();
            $form.action = "{{ action }}" + "&brouillon=true"
            $form.submit()
          })

          const $btnReset = document.getElementById("btn-reset");
          const $fermerModale = document.getElementById("fermer-modale");

          $btnReset.addEventListener('click', function(e) {
            $form.reset();
            $fermerModale.click();
          })



          $enregistrement.select2({
            minimumInputLength: 2,
            allowClear: true,
            placeholder: "Immatriculation du navire",
            language: { inputTooShort: function () { return 'Merci de renseigner les 6 chiffres de l\'immatriculation du navire'; } },
          });


          const $collectionHolder = $("#collectionHolder");

          $($btnUpload).on('click', function(e){
            const nbPv = $($nbPVInput).val()
            for(let i=1; i <= nbPv; i++){
              addFormToCollection($collectionHolder, i)
            }
          })

          const addFormToCollection = (collectionHolder, index) => {
            const lengthUploadSection = $('.uploadSection').length;

            if(lengthUploadSection < index) {

              let prototype = collectionHolder.data('prototype');
              prototype = prototype.replace(/__name__/g, index);
              prototype = prototype.replace(/__index__/g, index);
              prototype = prototype.replace(/__numeropv__/g, index);
              collectionHolder.append(prototype);
              const $suppUpload = $('.suppUpload' + index);
              const $section = $('.section' + index);
              $suppUpload.click(function(e) {
                e.preventDefault();
                $section.remove()
              })
            }
          };



          $enregistrement.on('select2:open', function() {
            $("#newVesselCheckboxSection").addClass('fr-hidden')
            let searchField = $('.select2-search__field');

            searchField.on('input', function() {
              let searchValue = $(this).val().toLowerCase();
              let availableOptions = [];

              $('.fr-input-enregistrement option').each(function() {
                let optionText = $(this).text().toLowerCase();

                if (optionText.includes(searchValue)) {
                  availableOptions.push($(this).text());
                }
              });

              if(searchValue.length >= 6 && availableOptions.length === 0) {
                let scrollPosition = $(window).scrollTop();

                $("#newVesselCheckboxSection").toggleClass('fr-hidden')
                $enregistrement.select2('close');

                setTimeout(() => {
                  $(window).scrollTop(scrollPosition);
                }, 1);


                const $newVesselCheckbox = $("#new-vessel")
                console.log($newVesselCheckbox)

                $newVesselCheckbox.on('change', function(e) {
                  const $newVesselFormSection = $("#newVesselSection")
                  if($newVesselCheckbox.prop('checked')) {
                    toggleRequiredFields(true)
                    $("#enregistrementNavireForm").addClass('fr-hidden')
                    $("#newVesselCheckboxSection").removeClass('fr-hidden')
                    $newVesselFormSection.removeClass('fr-hidden')
                    $("#foreignVesselSection").addClass("fr-hidden")
                  } else {
                    toggleRequiredFields(false)
                    $("#enregistrementNavireForm").removeClass('fr-hidden')
                    $("#newVesselCheckboxSection").addClass('fr-hidden')
                    $newVesselFormSection.addClass('fr-hidden')
                    $("#foreignVesselSection").removeClass("fr-hidden")
                  }
                })
              }
            });
          });


          function toggleRequiredFields(isTrue) {
            const $immat = $("#controle_unitaire_nouveauNavire_immatriculation")
            const $pavillon = $("#controle_unitaire_nouveauNavire_pavillon")
            const $nom = $("#controle_unitaire_nouveauNavire_nom")
            const $categorie = $("#controle_unitaire_nouveauNavire_categorieUsageNavire")

            $immat.prop('required', isTrue)
            $pavillon.prop('required', isTrue)
            $nom.prop('required', isTrue)
            $categorie.prop('required', isTrue)

          }
        })

    </script>


{% endblock %}


