<h3>Navires Contrôlés</h3>
<h4>Navires de plaisance <u>non professionnels</u> contrôlés <u>n'ayant pas donné lieu à des PV</u></h4>
<div class="row">
    <div class="form__group">
        {{ form_label(form.controleSansPv.nombreControle, null, {'label_attr': {'class': "label-inline"}}) }}
        {{ form_widget(form.controleSansPv.nombreControle, {'attr': {'v-model': "activites['navire'].controleSansPv.nombreControle"}}) }}
        {{ form_errors(form.controleSansPv.nombreControle) }}
    </div>
    <div class="form__group horizontal__form">
        {{ form_label(form.controleSansPv.nombreControleAireProtegee, null, {'label_attr': {'class': "label-inline"}}) }}
        {{ form_widget(form.controleSansPv.nombreControleAireProtegee, {'attr': {'v-model': "activites['navire'].controleSansPv.nombreControleAireProtegee"}}) }}
        {{ form_errors(form.controleSansPv.nombreControleAireProtegee) }}
    </div>
</div>
<div class="row">
    <fieldset style="max-width: 100%">
        {{ form_label(form.controleSansPv.controleNavireRealises, null, {'element': 'legend'} ) }}
        {{ form_errors(form.controleSansPv.controleNavireRealises) }}
        {% set half_controls = max(((form.controleSansPv.controleNavireRealises|length)/3)|round,1) %}
        <div class="row">
            {% for batch in form.controleSansPv.controleNavireRealises|batch(half_controls) %}
                <ul class="no-decoration stacked-list">
                    {% for box in batch %}
                        <li>
                            {% include 'formThemes/horizontalCheckboxFormTheme.html.twig' with {'box': box, 'attr': {
                                'v-model': "activites['navire'].controleSansPv.controleNavireRealises",
                                'v-bind:name': "'activite_navire[controleSansPv][controleNavireRealises][]'",
                                'v-bind:id': "'activite_navire_controleSansPv_controleNavireRealises_'+"~box.vars.value}} %}
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </fieldset>
</div>
<h4>Contrôles détaillés : navires professionnels et / ou plaisance <u>non listé ci-dessus</u></h4>
{% include 'controle/controleNavireComponent.html.twig' with {'form': form} %}


