<h3>Navires Contrôlés</h3>
<h4>Navires de plaisance <u>non professionnels</u> contrôlés <u>n'ayant pas donné lieu à des PV</u></h4>
<div class="row">
    <div class="form__group">
        {{ form_label(form.controleSansPv.nombreControleMer, null, {'label_attr': {'class': "label-inline"}}) }}
        {{ form_widget(form.controleSansPv.nombreControleMer, {'attr': {'v-model': "activites['navire'].controleSansPv.nombreControleMer"}}) }}
        {{ form_errors(form.controleSansPv.nombreControleMer) }}
    </div>
    <div class="form__group horizontal__form">
        {{ form_label(form.controleSansPv.nombreControleTerre, null, {'label_attr': {'class': "label-inline"}}) }}
        {{ form_widget(form.controleSansPv.nombreControleTerre, {'attr': {'v-model': "activites['navire'].controleSansPv.nombreControleTerre"}}) }}
        {{ form_errors(form.controleSansPv.nombreControleTerre) }}
    </div>
    <div class="form__group horizontal__form">
        {{ form_label(form.controleSansPv.nombreControleAireProtegee, null, {'label_attr': {'class': "label-inline"}}) }}
        {{ form_widget(form.controleSansPv.nombreControleAireProtegee, {'attr': {'v-model': "activites['navire'].controleSansPv.nombreControleAireProtegee"}}) }}
        {{ form_errors(form.controleSansPv.nombreControleAireProtegee) }}
    </div>
</div>
<div class="row">
    <fieldset style="max-width: 100%">
        {{ form_label(form.controleSansPv.controleNavireRealises, null, {'element': 'legend'} ) }}
        {{ form_errors(form.controleSansPv.controleNavireRealises) }}
        {% set half_controls = max(((form.controleSansPv.controleNavireRealises|length)/3)|round,1) %}
        <div class="row">
            <div class="col-lg-4">
                {% for batch in form.controleSansPv.controleNavireRealises|batch(half_controls) %}
                    <ul class="no-decoration stacked-list">
                        {% for box in batch %}
                            {% if box.vars.label not in controlesGM and box.vars.label not in controlesGMSousItem and box.vars.label not in controlesGMPersonnelSousItem and box.vars.label not in controlesGMPersonnel %}
                                <li>
                                    {% include 'formThemes/horizontalCheckboxFormTheme.html.twig' with {'box': box, 'attr': {
                                        'v-model': "activites['navire'].controleSansPv.controleNavireRealises",
                                        'v-bind:name': "'activite_navire[controleSansPv][controleNavireRealises][]'",
                                        'v-bind:id': "'activite_navire_controleSansPv_controleNavireRealises_'+"~box.vars.value}} %}
                                </li>
                            {% endif %}

                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
            <div class="col-lg-4">
                <ul class="no-decoration stacked-list">
                    {% for box in form.controleSansPv.controleNavireRealises %}
                        {% if box.vars.label in controlesGM %}
                            <li>
                                {% include 'formThemes/horizontalCheckboxFormTheme.html.twig' with {'box': box, 'attr': {
                                    'v-model': "activites['navire'].controleSansPv.controleNavireRealises",
                                    'v-bind:name': "'activite_navire[controleSansPv][controleNavireRealises][]'",
                                    'v-bind:id': "'activite_navire_controleSansPv_controleNavireRealises_'+"~box.vars.value}} %}
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% for box in form.controleSansPv.controleNavireRealises %}
                        {% if box.vars.label in controlesGMSousItem %}
                            <li class="ml-2">
                                {% include 'formThemes/horizontalCheckboxFormTheme.html.twig' with {'box': box, 'attr': {
                                    'v-model': "activites['navire'].controleSansPv.controleNavireRealises",
                                    'v-bind:name': "'activite_navire[controleSansPv][controleNavireRealises][]'",
                                    'v-bind:id': "'activite_navire_controleSansPv_controleNavireRealises_'+"~box.vars.value}} %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-4">
                <ul class="no-decoration stacked-list">
                    {% for box in form.controleSansPv.controleNavireRealises %}
                        {% if box.vars.label in controlesGMPersonnel %}
                            <li>
                                {% include 'formThemes/horizontalCheckboxFormTheme.html.twig' with {'box': box, 'attr': {
                                    'v-model': "activites['navire'].controleSansPv.controleNavireRealises",
                                    'v-bind:name': "'activite_navire[controleSansPv][controleNavireRealises][]'",
                                    'v-bind:id': "'activite_navire_controleSansPv_controleNavireRealises_'+"~box.vars.value}} %}
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% for box in form.controleSansPv.controleNavireRealises %}
                        {% if box.vars.label in controlesGMPersonnelSousItem %}
                            <li class="ml-2">
                                {% include 'formThemes/horizontalCheckboxFormTheme.html.twig' with {'box': box, 'attr': {
                                    'v-model': "activites['navire'].controleSansPv.controleNavireRealises",
                                    'v-bind:name': "'activite_navire[controleSansPv][controleNavireRealises][]'",
                                    'v-bind:id': "'activite_navire_controleSansPv_controleNavireRealises_'+"~box.vars.value}} %}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

        </div>
    </fieldset>
</div>
<h4>Contrôles détaillés : navires professionnels et / ou plaisance <u>non listé ci-dessus</u></h4>
{% include 'controle/controleNavireComponent.html.twig' with {'form': form} %}


