<!doctype html>
<html itemscope itemtype="http://schema.org/WebPage" lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block head_title %} - Rapportage CibNav{% endblock %}</title>

    {% block head_stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock head_stylesheets %}
    <!-- Polyfils for IE -->
    <script type="text/javascript">
        if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
            document.write('<script src="https://unpkg.com/@babel/polyfill@7.0.0/dist/polyfill.js"><\/script>');
            document.write('<script src="https://unpkg.com/url-polyfill@1.0.14/url-polyfill.js"><\/script>');
        }
    </script>
</head>

<body>
{% block body %}
<header class="navbar" role="navigation">
    <div class="navbar__container">
        {% block body_header %}
        <a class="navbar__home" href="{{ path('home') }}">
            <img class="navbar__logo" src="/images/logo-cib-nav.png" alt="Logo CibNav" />
            <img src="/images/cibnav-nom.svg" class="navbar__gouvfr" alt="CibNav" />
        </a>

        <nav>
            {% block body_header_nav %}
            <ul class="nav__links">
                <li class="nav__item"><a href="{{ path('list_forms') }}">Ajouter un rapport</a></li>
                <li class="nav__item"><a href="{{ path('list_submissions') }}">Voir les rapports</a></li>
                <li class="nav__item"><a href="{{ path('show_kpi') }}">Suivi des indicateurs</a></li>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="nav__item"><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
                {% else %}
                    <li class="nav__item"><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
                {% endif %}
            </ul>
            {% endblock body_header_nav %}
        </nav>
        {% endblock body_header %}
    </div>
</header>

<main role="main">
    {% block body_main %}
        <div class="notifications">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="notification {{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="container">
            {% block body_main_container %}
            {% endblock body_main_container %}
        </div>
    {% endblock body_main %}
</main>

<footer class="footer" role="contentinfo">
    <div class="container">
        <div class="footer__logo">
        </div>
        <ul class="footer__links">
            <li>Outil d'édition de rapport de mission du DCS version {{ version }}</li>
        </ul>
        <ul class="footer__links"></ul>
    </div>
</footer>

{% endblock body %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock javascripts %}
</body>

</html>
