{% extends "base.html.twig" %}

{% block head_stylesheets %}
    {{ parent() }}
{% endblock head_stylesheets %}

{% block head_title %}Contrôle des pêches {{ parent() }}{% endblock head_title %}

{% block body_banner %}{% endblock body_banner %}
{% block body_main %}

    <h1>Contrôle des pêches</h1>

    {{ form_start(form) }}

    <div class="form__group">
        {{ form_label(form.dateMission) }}
        {{ form_errors(form.dateMission) }}
        {{ form_widget(form.dateMission) }}
    </div>

    <div class="form__group">
        {{ form_label(form.typeControle) }}
        {{ form_errors(form.typeControle) }}
        {{ form_widget(form.typeControle) }}
    </div>

    <div class="form__group">
        <fieldset>
            <legend>{{ form_label(form.agents) }}</legend>
            {{ form_errors(form.agents) }}
            {% for box in form.agents %}
                {{ form_widget(box) }}
                {{ form_label(box, null, {'label_attr': {'class': "label-inline"}}) }}
            {% endfor %}
        </fieldset>
    </div>
    <br>

    <div class="form__group">
        {{ form_label(form.lieuMission) }}
        {{ form_errors(form.lieuMission) }}
        {{ form_widget(form.lieuMission) }}
    </div>

    <div class="form__group">
        {{ form_label(form.zoneMission) }}
        {{ form_errors(form.zoneMission) }}
        {{ form_widget(form.zoneMission) }}
    </div>

    <div class="form__group">
        {{ form_label(form.dureeMission) }}
        {{ form_errors(form.dureeMission) }}
        {{ form_widget(form.dureeMission) }}
    </div>

    <div class="form__group">
        <fieldset>
            <legend>{{ form_label(form.moyens) }}</legend>
            {{ form_errors(form.moyens) }}
            {% for box in form.moyens %}
                {{ form_widget(box) }}
                {{ form_label(box, null, {'label_attr': {'class': "label-inline"}}) }}
            {% endfor %}
        </fieldset>
    </div>
    <br>

    <p>Navires contrôlés</p>
    <ul class="navires" data-prototype="{{ form_widget(form.navires.vars.prototype)|e('html_attr') }}">
        <li>{{ form_row(form.navires.0) }}</li>
    </ul>

    <br>

    <div class="form__group">
        {{ form_label(form.commentaire) }}
        {{ form_errors(form.commentaire) }}
        {{ form_widget(form.commentaire) }}
    </div>
    {{ form_rest(form) }}

    {{ form_end(form) }}

    <br>
    <br>

{% endblock body_main %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script>
        function addTagForm($collectionHolder, $newLinkLi) {
            var prototype = $collectionHolder.data('prototype');

            //New index
            var index = $collectionHolder.data('index');

            var newForm = prototype;

            // Replace '__name__' in the prototype's HTML to instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Ajouter un navire contrôlé" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
            addTagFormDeleteLink($newFormLi);
        }

        function addTagFormDeleteLink($navireFormLi) {
            var $removeFormButton = $('<button type="button">Supprimer ce contrôle</button>');
            $navireFormLi.append($removeFormButton);

            $removeFormButton.on('click', function (e) {
                // remove the li for the Navires form
                $navireFormLi.remove();
            });
        }


        var $collectionHolder;

        // setup an "Ajouter un navire contrôlé" link
        var $addTagButton = $('<button type="button" class="add_navire_link">Ajouter un navire contrôlé</button>');
        var $newLinkLi = $('<li></li>').append($addTagButton);

        jQuery(document).ready(function () {
            // Get the ul that holds the collection of Navires
            $collectionHolder = $('ul.navires');

            // add a delete link to all of the existing Navire form li elements
            $collectionHolder.find('li').each(function () {
                addTagFormDeleteLink($(this));
            });

            // add the "Ajouter un navire contrôlé" anchor and li to the Navires ul
            $collectionHolder.append($newLinkLi);

            // keep index count up-to-date
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagButton.on('click', function (e) {
                // add a new Navire form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });

            $('.immatriculation_fr').on('focusout', function () {
                var input = $(this);
                $.get("http://localhost:8080/api/navires/" + $(this).val()).done(function (data) {
                    console.log(data.numImmatFrancais + "-" + data.nomNavire);
                    input.parents("li").find("input[id$=_navire_nom]").val(data.nomNavire);
                    input.parents("li").find("input[id$=_navire_longueurHorsTout]").val(data.longueurHorsTout)
                })
            })

        });

    </script>
{% endblock javascripts %}