{% extends "base.html.twig" %}

{% block head_stylesheets %}
    {{ parent() }}
{% endblock head_stylesheets %}

{% block body_banner %}{% endblock body_banner %}
{% block body_main_container %}

    {% for row in list|batch(3) %}
        <div class="row">
            {% for title, rapports in row %}
                <div>
                    <h2>{{ title }}</h2>
                    <ul>
                        {% for rapport in rapports %}
                            <li><a href="{{ path('rapport_edit', {'id_edit': rapport.id}) }}">
                                    Mission n°{{ rapport.id }} du {{ rapport.dateDebutMission | date('d/m/Y') }}
                                </a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

{% endblock body_main_container %}

