{% extends "base.html.twig" %}

{% block head_title %}Rapports de mon unité {{ parent() }}{% endblock %}

{% block head_stylesheets %}
    {{ parent() }}
{% endblock head_stylesheets %}

{% block body_banner %}{% endblock body_banner %}
{% block body_main_container %}
    <h1>Liste des rapports pour {{ app.user.service }}</h1>
    <h2>Rapports pour le mois de {{ date|localizeddate('long', 'none', "fr", null, "MMMM Y") }}</h2>
    <p>Ces rapports sont validées. Ils peuvent encore être modifiés quelques jours après leur validation avant d'être bloqués. </p>
    <div class="row">
        {% for row in reports|batch(7) %}

            <div style="width: 33%">
                <ul>
                    {% for rapport in row %}
                        <li>
                            <a href="{{ path('rapport_edit', {'id_edit': rapport.id}) }}">
                                Mission n°{{ rapport.id }} du {{ rapport.dateDebutMission | date('d/m/Y') }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}

    </div>

    <a href="{{ path('list_submissions_by_date', {'date': nextDate}) }}" class="button large">Voir les rapports plus anciens</a>

{% endblock body_main_container %}

{% block javascripts %}
    {{ encore_entry_script_tags('listSubmissions') }}
{% endblock javascripts %}
