{% extends "base.html.twig" %}

{% block head_title %}Rapports de mon unité {{ parent() }}{% endblock %}

{% block head_stylesheets %}
    {{ parent() }}
{% endblock head_stylesheets %}

{% block body_banner %}{% endblock body_banner %}
{% block body_main_container %}
    <h1>Liste des rapports pour {{ app.user.service }}</h1>
    <h2>Rapports en cours d'édition</h2>
    {% set colLength = max(1, (drafts|length)/3) %}
    <div class="row">
        {% for row in drafts|batch(colLength) %}
            <ul>
                {% for rapport in row %}
                    <li>
                        <a href="{{ path('rapport_draft_edit', {'id': rapport.id, 'type': "controle_a_bord"}) }}">
                            Brouillon {{ rapport.id }} du {{ rapport.lastEdit | date('d/m/Y H:i') }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>

    <h2>Rapports validés</h2>
    <div class="row">
        {% for row in list['Contrôle de navire']|batch(7) %}

            <div style="width: 33%">
                <ul>
                    {% for rapport in row %}
                        <li>
                            <a href="{{ path('rapport_edit', {'id_edit': rapport.id}) }}">
                                Mission n°{{ rapport.id }} du {{ rapport.dateDebutMission | date('d/m/Y') }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}

    </div>


{% endblock body_main_container %}

