{% extends "base.html.twig" %}

{% block head_stylesheets %}
    {{ parent() }}
{% endblock head_stylesheets %}

{% block body_banner %}{% endblock body_banner %}
{% block body_main_container %}

    <div class="row">
        {% for typeName, type in list %}
            <div>
                <h2>{{ typeName }}</h2>
                <ul>
                    {% for submission in type %}
                        <li><a href="{{ path('rapport_edit', {'id_edit': submission.id}) }}">Mission n°{{ submission.id }} du {{ submission.dateDebutMission | date('d/m/Y') }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>

{% endblock body_main_container %}