{% extends "base.html.twig" %}

{% block head_title %}Accueil{{ parent() }}{% endblock %}

{% block head_stylesheets %}
    {{ parent() }}
{% endblock head_stylesheets %}

{% block body_banner %}{% endblock body_banner %}
{% block body_main_container %}
    <section class="section">
        <div class="container">
            <div>
                {% include 'fragments/noteRgpd.html.twig' %}
                {% include 'fragments/messageNavigateur.html.twig' %}
                <h1>Ajout d'un nouveau rapport</h1>
                <div class="row" style="align-items: center;">
                    <a href="{{ path('rapport_create') }}" class="button large">
                        Créer un rapport de mission ULAM
                    </a>
                    <a href="/pam" class="button-outline large primary">
                        Je suis commandant de PAM
                    </a>
                </div>
                <div class="row">
                    <a href="{{ path('suivi_mensuel_edit', {
                            'month': now|localizeddate("long", "none", 'fr', null, "MM"),
                            'year':now|localizeddate("long", "none", 'fr', null, "Y")}) }}"
                       class="button large">
                        Mettre à jour le suivi mensuel (congés, AT) de {{ now|localizeddate("long", "none", 'fr', null, "MMMM Y") }}
                    </a>
                    <a href="{{ path('suivi_mensuel_edit', {
                        'month': previousMonth|localizeddate("long", "none", 'fr', null, "MM"),
                        'year': previousMonth|localizeddate("long", "none", 'fr', null, "Y")}) }}"
                       class="button large">
                        Mettre à jour le suivi mensuel (congés, AT) de {{ previousMonth|localizeddate("long", "none", 'fr', null, "MMMM Y") }}
                    </a>
                </div>
            </div>
            <div style="width: 90%">
                <iframe
                        src="{{ iframeUrl }}"
                        frameborder="0"
                        width="100%"
                        height="600"
                        allowtransparency
                ></iframe>
            </div>
        </div>
    </section>

{% endblock body_main_container %}
