<h2>Détails de l'activité</h2>

<h4>Lieu de l'activité</h4>
<div style="border: 2px solid var(--grey);padding: 1em;margin-bottom: 1em;">
    {{ form_errors(prototype.zones) }}
    <div class="row" style="flex-wrap: wrap;">
        {% for checkbox in prototype.zones %}
            <span class="form__checkbox" style="margin: 0 5px 0 0">
                {{ form_widget(checkbox, {'attr': {'class': "button", 'v-model': "missions['"~type~"'].zones"}}) }}
                {{ form_label(checkbox, null, {'label_attr': {'class': "label-inline button"}}) }}
                                </span>
        {% endfor %}
    </div>
</div>

{% include 'mission/mission'~type[0:1]|upper~type[1:]~'Component.html.twig' with {'form': prototype} %}


<div class="form__group">
    {{ form_label(prototype.commentaire) }}
    {{ form_widget(prototype.commentaire, {'attr': {'v-model': "missions['"~type~"'].commentaire"}}) }}
</div>

{{ form_widget(prototype._token) }}

{#{{ form_rest(prototype) }}#}


<div class="form__group button__group">
    <a class="button"
       href="#missions"
       @click="localSave(); validate()">Valider</a>
    <a class="button warning"
       href="#missions"
       @click="deleteMission('{{ type }}')">
        <i class="fas fa-trash-alt"></i>
        <span v-html="missions['{{ type }}'].active ? 'Supprimer' : 'Annuler'"></span>
    </a>
</div>