{% extends "base.html.twig" %}

{% block head_stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('rapport') }}
{% endblock head_stylesheets %}

{% block body_banner %}{% endblock body_banner %}
{% block body_main_container %}

    <h1>{% block body_main_container_title %}{% endblock body_main_container_title %}</h1>

    {{ form_start(form, {'attr': {'style': "max-width: 100%", 'id': "rapport"}}) }}

    <h2>Informations sur la mission</h2>

    <div class="row">
        <div class="grid" style="grid-template-columns: 1fr 1fr;height: min-content; max-width: 50%" id="dates">
            <h4 style="grid-column: 1 / 3;justify-self: start;">
                {{ form_label(form.dateDebutMission) }}
            </h4>
            <div style="align-self: end;width:100%" class="form__group horizontal__form">
                {{ form_widget(form.dateDebutMission.date) }}
                <div class="form__errors">
                    {{ form_errors(form.dateDebutMission.date) }}
                </div>
            </div>
            <div style="align-self: end;width:100%" class="form__group horizontal__form">
                <span class="form__checkbox">
                    <input type="checkbox"><label class="label-inline">Mission de plus d'une journée</label>
                </span>
                {{ form_widget(form.dateFinMission.date) }}
                <div class="form__errors">
                    {{ form_errors(form.dateFinMission.date) }}
                </div>
            </div>
            <div class="form__group horizontal__form" style="width:100%">
                {{ form_label(form.dateDebutMission.time) }}
                {{ form_widget(form.dateDebutMission.time) }}
                {{ form_errors(form.dateDebutMission.time) }}
            </div>
            <div class="form__group horizontal__form" style="width:100%">
                {{ form_label(form.dateFinMission.time) }}
                {{ form_widget(form.dateFinMission.time) }}
                {{ form_errors(form.dateFinMission.time) }}
            </div>
        </div>
        <div class="form__group horizontal__form">
            <fieldset>
                <div class="form__errors">
                    {{ form_errors(form.agents) }}
                </div>
                {{ form_label(form.agents, null, {'element': 'legend'} ) }}
                {% set half_agents = max(((form.agents|length)/2)|round,1) %}
                <div class="row">
                    {% for row in form.agents|batch(half_agents) %}
                        <ul class="no-decoration stacked-list">
                            {% for checkbox in row %}
                                <li class="form__checkbox">
                                    {{ form_widget(checkbox) }}
                                    {{ form_label(checkbox, null, {'label_attr': {'class': "label-inline"}}) }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
            </fieldset>
        </div>

    </div>

    <div class="row">
        <div class="form__group horizontal__form">
            <fieldset>
                {{ form_label(form.moyens, null, {'element': 'legend', 'attr': {'class': "like-h4"}} ) }}
                {{ form_errors(form.moyens) }}
                <ul id="moyen-list" class="no-decoration stacked-list" data-prototype='
                    <span>
                        {{ form_widget(form.moyens.vars.prototype.moyen)|e('html_attr') }}
                        {{ form_errors(form.moyens.vars.prototype.moyen)|e('html_attr') }}
                    </span>
                    <span class="form__group" style="display: none;">
                        {{ form_label(form.moyens.vars.prototype.distance, null, {'label_attr': {'class': "required"}})|e('html_attr') }}
                        {{ form_widget(form.moyens.vars.prototype.distance)|e('html_attr') }}
                    </span>
                    <span class="form__group" style="display: none;">
                        {{ form_label(form.moyens.vars.prototype.tempsMoteur, null, {'label_attr': {'class': "required"}})|e('html_attr') }}
                        {{ form_widget(form.moyens.vars.prototype.tempsMoteur)|e('html_attr') }}
                    </span>
                    <button class="button warning moyen-delete">
                        <i class="fas fa-trash-alt"></i>
                        <span class="">Supprimer</span>
                    </button>
                '>
                    {% for moyen in form.moyens %}
                        <li class="row moyen">
                            <span>
                                {{ form_label(moyen.moyen) }}
                                {{ form_widget(moyen.moyen) }}
                            </span>
                            {% if moyen.distance.vars.value is empty %}
                                {% set displayDist = false %}
                            {% else %}
                                {% set displayDist = true %}
                            {% endif %}
                            <span class="form__group" style="{% if not displayDist %}display: none;{% endif %}">
                                {{ form_label(moyen.distance, null, {"class": "required"}) }}
                                {{ form_widget(moyen.distance, {"required": displayDist}) }}
                            </span>
                            {% if moyen.tempsMoteur.vars.value is empty %}
                                {% set displayTM = false %}
                            {% else %}
                                {% set displayTM = true %}
                            {% endif %}
                            <span class="form__group" style="{% if not displayTM %}display: none;{% endif %}">
                                {{ form_label(moyen.tempsMoteur, null, {"class": "required"}) }}
                                {{ form_widget(moyen.tempsMoteur, {'required': displayTM}) }}
                            </span>
                            <button class="button warning moyen-delete">
                                <i class="fas fa-trash-alt"></i>
                                <span class="">Supprimer</span>
                            </button>
                        </li>
                    {% endfor %}
                    <li id="add-new-moyen-container" class="row">
                        <button type="button" id="add-new-moyen" class="button" style="">
                            <i class="fas fa-plus-circle"></i>
                            Ajouter un moyen utilisé
                        </button>
                    </li>
                </ul>
                {% do form.moyens.setRendered %}
            </fieldset>
        </div>
        <div>
            <h4>Arme</h4>
            <div class="form__group horizontal__form">
                {% include 'formThemes/switchFormTheme.html.twig' with {'form': form.arme} %}
            </div>
        </div>
    </div>

    {% block body_main_container_rapport_objects %}
        <div id="missions">
            <h2>Activité(s) réalisée(s)</h2>
            <ul class="no-decoration form__errors">
                <li v-for="errorInfo in errorList" v-text="'L\'activité ' + errorInfo + ' contient des erreurs'"></li>
            </ul>
            <ul class="no-decoration" data-prototype=''>
                <li v-for="(mission, index) in missions">
                    <mission v-bind:mission="mission" v-bind:index="index"></mission>
                </li>
                <li>
                    <a id="add-mission" class="button" href="#modal">
                        <i class="fas fa-plus-circle"></i>
                        Ajouter une activité
                    </a>
                </li>
            </ul>
            {% do form.missions.setRendered %}



            {% include 'missionTypeChoiceModal.html.twig' with {
                'prototype': form.missions.vars.prototype,
                'navire': formNavire,
            } %}
            <div class="modal__backdrop" id="modal-navire" style="z-index: 999;" v-if="missions['navire'].active">
                <div class="modal" style="max-width: 85%;max-height: 90vh; overflow: scroll;">
                    {% include 'missionModal.html.twig' with {'prototype': formNavire, 'type': "navire"} %}
                </div>
            </div>
            <div class="modal__backdrop" id="modal-commerce" style="z-index: 999;" v-if="missions['commerce'].active">
                <div class="modal" style="max-width: 85%;max-height: 90vh; overflow: scroll;">
                    {% include 'missionModal.html.twig' with {'prototype': formCommerce, 'type': "commerce"} %}
                </div>
            </div>
            <div class="modal__backdrop" id="modal-pechePied" style="z-index: 999;" v-if="missions['pechePied'].active">
                <div class="modal" style="max-width: 85%;max-height: 90vh; overflow: scroll;">
                    {% include 'missionModal.html.twig' with {'prototype': formPechePied, 'type': "pechePied"} %}
                </div>
            </div>
            <div class="modal__backdrop" id="modal-loisir" style="z-index: 999;" v-if="missions['loisir'].active">
                <div class="modal" style="max-width: 85%;max-height: 90vh; overflow: scroll;">
                    {% include 'missionModal.html.twig' with {'prototype': formLoisir, 'type': "loisir"} %}
                </div>
            </div>
            <div class="modal__backdrop" id="modal-secours" style="z-index: 999;" v-if="missions['secours'].active">
                <div class="modal" style="max-width: 85%;max-height: 90vh; overflow: scroll;">
                    {% include 'missionModal.html.twig' with {'prototype': formSecours, 'type': "secours"} %}
                </div>
            </div>
            <div class="modal__backdrop" id="modal-administratif" style="z-index: 999;" v-if="missions['administratif'].active">
                <div class="modal" style="max-width: 85%;max-height: 90vh; overflow: scroll;">
                    {% include 'missionModal.html.twig' with {'prototype': formAdministratif, 'type': "administratif"} %}
                </div>
            </div>
            <div class="modal__backdrop" id="modal-formation" style="z-index: 999;" v-if="missions['formation'].active">
                <div class="modal" style="max-width: 85%;max-height: 90vh; overflow: scroll;">
                    {% include 'missionModal.html.twig' with {'prototype': formFormation, 'type': "formation"} %}
                </div>
            </div>
        </div>

    {% endblock body_main_container_rapport_objects %}

    {% block body_main_container_rapport_heures %}
        <div id="time-division">
            <time-division v-bind:controle-mer.sync="controleMer"
                           v-bind:controle-terre.sync="controleTerre"
                           v-bind:controle-aire-protegee-mer.sync="controleAireProtegeeMer"
                           v-bind:controle-aire-protegee-terre.sync="controleAireProtegeeTerre"
                           v-bind:visite-securite.sync="visiteSecurite"
                           v-bind:surveillance-manifestation-mer.sync="surveillanceManifestationMer"
                           v-bind:surveillance-manifestation-terre.sync="surveillanceManifestationTerre"
                           v-bind:surveillance-dpm-mer.sync="surveillanceDpmMer"
                           v-bind:surveillance-dpm-terre.sync="surveillanceDpmTerre"
            ></time-division>
            {% include 'timeDivision.html.twig'with {'form': form.repartitionHeures} %}

        </div>

    {% endblock body_main_container_rapport_heures %}

    <br>

    <div class="form__group">
        {{ form_label(form.commentaire) }}
        {{ form_errors(form.commentaire) }}
        {{ form_widget(form.commentaire) }}
    </div>

    {{ form_rest(form) }}

    <br>

    <div id="validation_buttons" class="form__group form__validators">
        {% if crud.deletable is defined and crud.deletable %}
            <button type="button" id="form-delete" class="button large warning formActionButton" @click="doNotConfirmLeave(); deleteRapport()">
                <i class="fas fa-trash-alt"></i> Supprimer le rapport
            </button>
        {% endif %}
        {% if crud.draftable is defined and crud.draftable %}
            <button type="button" id="form-save" class="button large formActionButton" @click="doNotConfirmLeave(); saveDraft()">
                <i class="far fa-save"></i>
                Enregistrer le brouillon
            </button>
        {% endif %}
        <button type="submit" id="form-submit" class="button large formActionButton" v-on:click="doNotConfirmLeave">
            <i class="far fa-check-circle"></i>
            Valider le rapport
        </button>
    </div>

    {{ form_end(form) }}

    <br>
    <br>

{% endblock body_main_container %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('rapport') }}
    {% if data is defined %}
        <span id="draft-data" style="display: none" data-content="{{ data }}"></span>
    {% endif %}
    {% if missions is defined %}
        <span id="missions-data" style="display: none" data-content="{{ missions | json_encode }}"></span>
    {% endif %}
    {% if rapport is defined %}
        <span id="rapport-data" style="display: none" data-content="{{ rapport | json_encode }}"></span>
    {% endif %}
{% endblock javascripts %}
