{% extends "rapport.html.twig" %}

{% block head_title %}Contrôle des pêches {{ parent() }}{% endblock head_title %}

{% block body_main_container_title %}Contrôle des pêches{% endblock body_main_container_title %}

{% block body_main_container_rapport_objects %}

    <div class="row">
        <div class="form__group horizontal__form">
            {{ form_label(form.typeMission) }}
            {{ form_errors(form.typeMission) }}
            {{ form_widget(form.typeMission) }}
        </div>
        <div class="form__group horizontal__form">
            <fieldset>
                {{ form_label(form.aireMarineSpeciale, null, {'element': 'legend'} ) }}
                {{ form_errors(form.aireMarineSpeciale) }}
                {% for box in form.aireMarineSpeciale %}
                    <span class="form__checkbox">
                        {{ form_widget(box) }}
                        {{ form_label(box, null, {'label_attr': {'class': "label-inline"}}) }}
                    </span>
                {% endfor %}
            </fieldset>
        </div>
        <div></div>
    </div>

    <p>Navires contrôlés</p>
    <ul class="navires no-decoration" data-prototype='
        <div class="form__group horizontal__form">
            {{ form_widget(form.navires.vars.prototype.navire)|e('html_attr') }}
        </div>
        <div class="form__group horizontal__form">
                    <fieldset>
                        {{ form_label(form.navires.vars.prototype.controles, null, {'element': 'legend'} ) }}
                        {{ form_errors(form.navires.vars.prototype.controles) }}
                        {% for box in form.navires.vars.prototype.controles %}
                         <span class="form__checkbox">
                            {{ form_widget(box) }}
                            {{ form_label(box, null, {'label_attr': {'class': "label-inline"}}) }}
                            </span>
                        {% endfor %}
                    </fieldset>
                </div>
<div class="form__group horizontal__form">
            {{ form_label(form.navires.vars.prototype.pv)|e('html_attr') }}
            {{ form_errors(form.navires.vars.prototype.pv)|e('html_attr') }}
            {{ form_widget(form.navires.vars.prototype.pv)|e('html_attr') }}
        </div>
        <div class="form__group horizontal__form">
            {{ form_label(form.navires.vars.prototype.natinf)|e('html_attr') }}
            {{ form_errors(form.navires.vars.prototype.natinf)|e('html_attr') }}
            {{ form_widget(form.navires.vars.prototype.natinf)|e('html_attr') }}
        </div>
        <div class="form__group horizontal__form">
            {{ form_label(form.navires.vars.prototype.commentaire)|e('html_attr') }}
            {{ form_errors(form.navires.vars.prototype.commentaire)|e('html_attr') }}
            {{ form_widget(form.navires.vars.prototype.commentaire)|e('html_attr') }}
        </div>
    '>
        {% for navireControle in form.navires %}
            <li class="row navire">
                <div class="form__group horizontal__form">
                    {{ form_widget(navireControle.navire) }}
                </div>
                <div class="form__group horizontal__form">
                    <fieldset>
                        {{ form_label(navireControle.controles, null, {'element': 'legend'} ) }}
                        {{ form_errors(navireControle.controles) }}
                        {% for box in navireControle.controles %}
                            <span class="form__checkbox">
                                {{ form_widget(box) }}
                                {{ form_label(box, null, {'label_attr': {'class': "label-inline"}}) }}
                            </span>
                        {% endfor %}
                    </fieldset>
                </div>
                <div class="form__group horizontal__form">
                    {{ form_label(navireControle.pv) }}
                    {{ form_errors(navireControle.pv) }}
                    {{ form_widget(navireControle.pv, {'attr': {'class': 'center'}}) }}
                </div>
                <div class="form__group horizontal__form">
                    {{ form_label(navireControle.natinf) }}
                    {{ form_errors(navireControle.natinf) }}
                    {{ form_widget(navireControle.natinf) }}
                </div>
                <div class="form__group horizontal__form">
                    {{ form_label(navireControle.commentaire) }}
                    {{ form_errors(navireControle.commentaire) }}
                    {{ form_widget(navireControle.commentaire) }}
                </div>
            </li>
        {% endfor %}
    </ul>

{% endblock body_main_container_rapport_objects %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('rapportNavire') }}
{% endblock javascripts %}