{% extends "rapport.html.twig" %}

{% block head_title %}Contrôle de la filière commercialisation {{ parent() }}{% endblock head_title %}

{% block body_main_container_title %}Contrôle de la filière commercialisation et d'établissements{% endblock body_main_container_title %}

{% block body_main_container_rapport_objects %}
    <h2>Établissements contrôlés</h2>

    <ul class="etablissements no-decoration" data-prototype='
        <div class="form__group horizontal__form">
            {{ form_widget(form.etablissements.vars.prototype.etablissement)|e('html_attr') }}
        </div>
        <div class="form__group horizontal__form">
            {{ form_label(form.etablissements.vars.prototype.bateauxControles) }}
            {{ form_errors(form.etablissements.vars.prototype.bateauxControles) }}
            {{ form_widget(form.etablissements.vars.prototype.bateauxControles) }}
        </div>
        <div class="form__group horizontal__form">
            {{ form_label(form.etablissements.vars.prototype.pv)|e('html_attr') }}
            {{ form_errors(form.etablissements.vars.prototype.pv)|e('html_attr') }}
            {{ form_widget(form.etablissements.vars.prototype.pv)|e('html_attr') }}
        </div>
        <div class="form__group horizontal__form">
            {{ form_label(form.etablissements.vars.prototype.natinf)|e('html_attr') }}
            {{ form_errors(form.etablissements.vars.prototype.natinf)|e('html_attr') }}
            {{ form_widget(form.etablissements.vars.prototype.natinf)|e('html_attr') }}
        </div>
        <div class="form__group horizontal__form">
            {{ form_label(form.etablissements.vars.prototype.commentaire)|e('html_attr') }}
            {{ form_errors(form.etablissements.vars.prototype.commentaire)|e('html_attr') }}
            {{ form_widget(form.etablissements.vars.prototype.commentaire)|e('html_attr') }}
        </div>
    '>
        {% for etablissementControle in form.etablissements %}
            <li class="row etablissement">
                <div class="form__group horizontal__form">
                    {{ form_widget(etablissementControle.etablissement) }}
                </div>
                <div class="form__group horizontal__form">
                    {{ form_label(etablissementControle.bateauxControles) }}
                    {{ form_errors(etablissementControle.bateauxControles) }}
                    {{ form_widget(etablissementControle.bateauxControles) }}
                </div>
                <div class="form__group horizontal__form">
                    {{ form_label(etablissementControle.pv) }}
                    {{ form_errors(etablissementControle.pv) }}
                    {{ form_widget(etablissementControle.pv) }}
                </div>
                <div class="form__group horizontal__form">
                    {{ form_label(etablissementControle.natinf) }}
                    {{ form_errors(etablissementControle.natinf) }}
                    {{ form_widget(etablissementControle.natinf) }}
                </div>
                <div class="form__group horizontal__form">
                    {{ form_label(etablissementControle.commentaire) }}
                    {{ form_errors(etablissementControle.commentaire) }}
                    {{ form_widget(etablissementControle.commentaire) }}
                </div>
            </li>
        {% endfor %}
    </ul>

{% endblock body_main_container_rapport_objects %}

{% block javascripts %}
    {{ parent() }}
    //plop
    {{ encore_entry_script_tags('rapportCommercialisation') }}
    //plop
{% endblock javascripts %}