{% extends "base.html.twig" %}

{% block head_stylesheets %}
    {{ parent() }}
{% endblock head_stylesheets %}

{% block body_banner %}{% endblock body_banner %}
{% block body_main_container %}

    <h1>{% block body_main_container_title %}{% endblock body_main_container_title %}</h1>

    {{ form_start(form, {'attr': {'style': "max-width: 100%", 'id': "rapport"}}) }}

    <h2>Éléments généraux</h2>

    <div class="row">
        <div>
            <div class="form__group horizontal__form">
                {{ form_label(form.dateDebutMission) }}
                {{ form_errors(form.dateDebutMission) }}
                {{ form_widget(form.dateDebutMission) }}
            </div>
            <div>
                {{ form_label(form.dateFinMission) }}
                {{ form_errors(form.dateFinMission) }}
                {{ form_widget(form.dateFinMission) }}
            </div>
        </div>

        {% if form.methodeCiblage is defined %}
            <div class="form__group horizontal__form">
                {{ form_label(form.methodeCiblage) }}
                {{ form_errors(form.methodeCiblage) }}
                {{ form_widget(form.methodeCiblage) }}
            </div>
        {% endif %}

        <div class="form__group horizontal__form">
            <fieldset>
                {{ form_label(form.agents, null, {'element': 'legend'} ) }}
                {{ form_errors(form.agents) }}
                {% set half_agents = ((form.agents|length)/2)|round %}
                <div class="row">
                    {% for row in form.agents|batch(half_agents) %}
                        <ul class="no-decoration stacked-list">
                            {% for checkbox in row %}
                                <li class="form__checkbox">
                                    {{ form_widget(checkbox) }}
                                    {{ form_label(checkbox, null, {'label_attr': {'class': "label-inline"}}) }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
            </fieldset>
        </div>
    </div>

    <div class="row">
        <div class="form__group horizontal__form">
            {{ form_label(form.lieuMission) }}
            {{ form_errors(form.lieuMission) }}
            {{ form_widget(form.lieuMission) }}
        </div>

        <div class="form__group horizontal__form">
            <fieldset>
                {{ form_label(form.zoneMissions, null, {'element': 'legend'} ) }}
                {{ form_errors(form.zoneMissions) }}
                {% set part_elements = ((form.zoneMissions|length)/3)|round %}
                <div class="row">
                    {% for row in form.zoneMissions|batch(part_elements) %}
                        <ul class="no-decoration stacked-list">
                            {% for checkbox in row %}
                                <li class="form__checkbox">
                                    {{ form_widget(checkbox) }}
                                    {{ form_label(checkbox, null, {'label_attr': {'class': "label-inline"}}) }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
            </fieldset>
        </div>

        <div class="form__group horizontal__form">
            {{ form_label(form.arme) }}
            {{ form_errors(form.arme) }}
            {{ form_widget(form.arme, {'attr': {'class': 'center'}}) }}
        </div>
    </div>

    <div class="row">
        <div class="form__group horizontal__form">
            <fieldset>
                {{ form_label(form.moyens, null, {'element': 'legend'} ) }}
                {{ form_errors(form.moyens) }}
                <ul class="no-decoration stacked-list">
                    <li>
                        {% if form.moyens|length > 0 %}
                            <ul id="moyen-list" class="no-decoration stacked-list" data-prototype='
                                <span>
                                    {{ form_label(form.moyens.vars.prototype.moyen)|e('html_attr') }}
                                    {{ form_widget(form.moyens.vars.prototype.moyen)|e('html_attr') }}
                                </span>
                                <span class="" style="display: none;">
                                    {{ form_label(form.moyens.vars.prototype.distance, "Distance (km)")|e('html_attr') }}
                                    {{ form_widget(form.moyens.vars.prototype.distance)|e('html_attr') }}
                                </span>
                                <span class="" style="display: none;">
                                    {{ form_label(form.moyens.vars.prototype.tempsMoteur, "Temps moteur (min)")|e('html_attr') }}
                                    {{ form_widget(form.moyens.vars.prototype.tempsMoteur)|e('html_attr') }}
                                </span>
                                <button class="button moyen-delete">
                                    <i class="fas fa-trash-alt"></i>
                                    <span class="">Supprimer</span>
                                </button>
                            '>
                                {% for moyen in form.moyens %}
                                    <li class="row moyen">
                                        <span>
                                            {{ form_label(moyen.moyen) }}
                                            {{ form_widget(moyen.moyen) }}
                                        </span>
                                        {% if moyen.distance.vars.value is empty %}
                                            {% set displayDist = false %}
                                        {% else %}
                                            {% set displayDist = true %}
                                        {% endif %}
                                        <span class="" style="{% if not displayDist %}display: none;{% endif %}">
                                            {{ form_label(moyen.distance, "Distance (km)") }}
                                            {{ form_widget(moyen.distance, {"required": displayDist}) }}
                                        </span>
                                        {% if moyen.tempsMoteur.vars.value is empty %}
                                            {% set displayTM = false %}
                                        {% else %}
                                            {% set displayTM = true %}
                                        {% endif %}
                                        <span class="" style="{% if not displayTM %}display: none;{% endif %}">
                                            {{ form_label(moyen.tempsMoteur, "Temps moteur (min)") }}
                                            {{ form_widget(moyen.tempsMoteur, {'required': displayTM}) }}
                                        </span>
                                        <button class="button moyen-delete">
                                            <i class="fas fa-trash-alt"></i>
                                            <span class="">Supprimer</span>
                                        </button>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                    <li>
                        <button type="button" id="add-new-moyen" class="button" style="">
                            Ajouter un moyen utilisé
                        </button>
                    </li>
                </ul>
            </fieldset>
        </div>
    </div>

    {% block body_main_container_rapport_objects %}
        <h2>Éléments spécifiques</h2>
    {% endblock body_main_container_rapport_objects %}

    <br>

    <div class="form__group">
        {{ form_label(form.commentaire) }}
        {{ form_errors(form.commentaire) }}
        {{ form_widget(form.commentaire) }}
    </div>

    {{ form_rest(form) }}

    <br>

    <div class="form__group form__validators">
        <button type="button" id="form-delete" class="button large warning"><i class="fas fa-trash-alt"></i> Supprimer le rapport</button>
        <button type="button" id="form-save" class="button large"><i class="far fa-save"></i> Enregistrer le brouillon</button>
        <button type="submit" id="form-submit" class="button large"><i class="far fa-check-circle"></i> Valider le rapport</button>
    </div>

    {{ form_end(form) }}

    <br>
    <br>

{% endblock body_main_container %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    {% if data is defined %}
        <span id="draft-data" style="display: none" data-content="{{ data }}"></span>
    {% endif %}
{% endblock javascripts %}