{% extends "rapport.html.twig" %}

{% block head_title %}Contrôle de navires {{ parent() }}{% endblock head_title %}

{% block head_stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('rapportNavire') }}
{% endblock head_stylesheets %}

{% block body_main_container_title %}Contrôle de navires (à quai ou en mer){% endblock body_main_container_title %}

{% block body_main_container_rapport_objects %}
    <div class="row" id="aireMarine">
        <div class="form__group horizontal__form">
            {{ form_label(form.typeMissionControle) }}
            {{ form_errors(form.typeMissionControle) }}
            {{ form_widget(form.typeMissionControle, {'attr': {'v-on:change': "tooggleAireMarine" }}) }}
        </div>
        <div></div>
    </div>

    <div class="row">
        <h2>Navires contrôlés</h2>
    </div>

    <ul class="navires no-decoration" data-prototype='
        <div class="form__group horizontal__form">
            {% include 'formThemes/navireFormTheme.html.twig' with {'navire': form.navires.vars.prototype.navire} %}
        </div>
        <div class="form__group horizontal__form">
            <fieldset class="vertical">
                {{ form_label(form.navires.vars.prototype.controles, null, {'element': 'legend'} ) }}
                {{ form_errors(form.navires.vars.prototype.controles) }}
                {% for box in form.navires.vars.prototype.controles %}
                    {% include 'formThemes/horizontalCheckboxFormTheme.html.twig' with {'box': box} %}
                {% endfor %}
            </fieldset>
        </div>
        <div class="form__group horizontal__form">
            {{ form_label(form.navires.vars.prototype.pv)|e('html_attr') }}
            {{ form_errors(form.navires.vars.prototype.pv)|e('html_attr') }}
            {{ form_widget(form.navires.vars.prototype.pv)|e('html_attr') }}
        </div>
        <div class="form__group horizontal__form">
            {{ form_label(form.navires.vars.prototype.natinfs)|e('html_attr') }}
            {{ form_errors(form.navires.vars.prototype.natinfs)|e('html_attr') }}
            {{ form_widget(form.navires.vars.prototype.natinfs, {'attr': {'class': "select2"}})|e('html_attr') }}
        </div>
        <div class="form__group horizontal__form">
            {{ form_label(form.navires.vars.prototype.commentaire)|e('html_attr') }}
            {{ form_errors(form.navires.vars.prototype.commentaire)|e('html_attr') }}
            {{ form_widget(form.navires.vars.prototype.commentaire)|e('html_attr') }}
        </div>
    '>
        {% for navireControle in form.navires %}
            <li class="row navire">
                <div class="form__group horizontal__form">
                    {% include 'formThemes/navireFormTheme.html.twig' with {'navire': navireControle.navire} %}
                </div>
                <div class="form__group horizontal__form">
                    <fieldset class="vertical">
                        {{ form_label(navireControle.controles, null, {'element': 'legend'} ) }}
                        {{ form_errors(navireControle.controles) }}
                        {% for box in navireControle.controles %}
                            {% include 'formThemes/horizontalCheckboxFormTheme.html.twig' with {'box': box} %}
                        {% endfor %}
                    </fieldset>
                </div>
                <div class="form__group horizontal__form">
                    {{ form_label(navireControle.pv) }}
                    {{ form_errors(navireControle.pv) }}
                    {{ form_widget(navireControle.pv, {'attr': {'class': 'center'}}) }}
                </div>
                <div class="form__group horizontal__form">
                    {{ form_label(navireControle.natinfs) }}
                    {{ form_errors(navireControle.natinfs) }}
                    {{ form_widget(navireControle.natinfs, {'attr': {'class': "select2"}}) }}
                </div>
                <div class="form__group horizontal__form">
                    {{ form_label(navireControle.commentaire) }}
                    {{ form_errors(navireControle.commentaire) }}
                    {{ form_widget(navireControle.commentaire) }}
                </div>
            </li>
        {% endfor %}
    </ul>

{% endblock body_main_container_rapport_objects %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('rapportNavire') }}
{% endblock javascripts %}