{% extends "rapport.html.twig" %}

{% block head_title %}Contrôle de la filière commercialisation {{ parent() }}{% endblock head_title %}

{% block body_main_container_title %}Contrôle de la filière commercialisation et d'établissements{% endblock body_main_container_title %}

{% block body_main_container_rapport_objects %}

    <p>Établissements contrôlés</p>
    <ul class="etablissements" data-prototype='
        <div class="form__group horizontal_form">
            {{ form_widget(form.etablissements.vars.prototype.etablissement)|e('html_attr') }}
        </div>
        <div class="form__group horizontal_form">
            {{ form_label(form.etablissements.vars.prototype.bateauxControles) }}
            {{ form_errors(form.etablissements.vars.prototype.bateauxControles) }}
            {{ form_widget(form.etablissements.vars.prototype.bateauxControles) }}
        </div>
        <div class="form__group horizontal_form">
            {{ form_label(form.etablissements.vars.prototype.pv)|e('html_attr') }}
            {{ form_errors(form.etablissements.vars.prototype.pv)|e('html_attr') }}
            {{ form_widget(form.etablissements.vars.prototype.pv)|e('html_attr') }}
        </div>
        <div class="form__group horizontal_form">
            {{ form_label(form.etablissements.vars.prototype.natinf)|e('html_attr') }}
            {{ form_errors(form.etablissements.vars.prototype.natinf)|e('html_attr') }}
            {{ form_widget(form.etablissements.vars.prototype.natinf)|e('html_attr') }}
        </div>
        <div class="form__group horizontal_form">
            {{ form_label(form.etablissements.vars.prototype.commentaire)|e('html_attr') }}
            {{ form_errors(form.etablissements.vars.prototype.commentaire)|e('html_attr') }}
            {{ form_widget(form.etablissements.vars.prototype.commentaire)|e('html_attr') }}
        </div>
    '>
        {% for etablissementControle in form.etablissements %}
            <li class="row etablissement">
                <div class="form__group horizontal_form">
                    {{ form_widget(etablissementControle.etablissement) }}
                </div>
                <div class="form__group horizontal_form">
                    {{ form_label(etablissementControle.bateauxControles) }}
                    {{ form_errors(etablissementControle.bateauxControles) }}
                    {{ form_widget(etablissementControle.bateauxControles) }}
                </div>
                <div class="form__group horizontal_form">
                    {{ form_label(etablissementControle.pv) }}
                    {{ form_errors(etablissementControle.pv) }}
                    {{ form_widget(etablissementControle.pv) }}
                </div>
                <div class="form__group horizontal_form">
                    {{ form_label(etablissementControle.natinf) }}
                    {{ form_errors(etablissementControle.natinf) }}
                    {{ form_widget(etablissementControle.natinf) }}
                </div>
                <div class="form__group horizontal_form">
                    {{ form_label(etablissementControle.commentaire) }}
                    {{ form_errors(etablissementControle.commentaire) }}
                    {{ form_widget(etablissementControle.commentaire) }}
                </div>
            </li>
        {% endfor %}
    </ul>

{% endblock body_main_container_rapport_objects %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function addTagForm($collectionHolder, $newLinkLi) {
            var prototype = $collectionHolder.data('prototype');

            //New index
            var index = $collectionHolder.data('index');

            var newForm = prototype;

            // Replace '__name__' in the prototype's HTML to instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Ajouter un etablissement contrôlé" link li
            var $newFormLi = $('<li class="row etablissement"></li>').append(newForm);
            $newLinkLi.before($newFormLi);
            addTagFormDeleteLink($newFormLi);
        }

        function addTagFormDeleteLink($etablissementFormLi) {
            var $removeFormButton = $('<button type="button">Supprimer ce contrôle</button>');
            $etablissementFormLi.append($removeFormButton);

            $removeFormButton.on('click', function (e) {
                // remove the li for the Navires form
                $etablissementFormLi.remove();
            });
        }

        var $collectionHolder;

        // setup an "Ajouter un etablissement contrôlé" link
        var $addTagButton = $('<button type="button" class="add_etablissement_link button">Ajouter un etablissement contrôlé</button>');
        var $newLinkLi = $('<li></li>').append($addTagButton);

        jQuery(document).ready(function () {
            // Get the ul that holds the collection of Navires
            $collectionHolder = $('ul.etablissements');

            // add a delete link to all of the existing Navire form li elements
            $collectionHolder.find('li.etablissement').each(function () {
                addTagFormDeleteLink($(this));
            });

            // add the "Ajouter un etablissement contrôlé" anchor and li to the Navires ul
            $collectionHolder.append($newLinkLi);

            // keep index count up-to-date
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagButton.on('click', function (e) {
                // add a new Navire form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });

        });

    </script>
{% endblock javascripts %}