{% extends "base.html.twig" %}

{% block head_stylesheets %}
    {{ parent() }}
{% endblock head_stylesheets %}

{% block body_banner %}{% endblock body_banner %}
{% block body_main_container %}

    <h1>{% block body_main_container_title %}{% endblock body_main_container_title %}</h1>

    {{ form_start(form, {'attr': {'style': "max-width: 100%"}}) }}

    <div class="row">
        <div class="form__group horizontal__form">
            {{ form_label(form.dateMission) }}
            {{ form_errors(form.dateMission) }}
            {{ form_widget(form.dateMission) }}
        </div>

        <div class="form__group horizontal__form">
            {{ form_label(form.typeRapport) }}
            {{ form_errors(form.typeRapport) }}
            {{ form_widget(form.typeRapport) }}
        </div>
        <div class="form__group horizontal__form">
            <fieldset>
                {{ form_label(form.agents, null, {'element': 'legend'} ) }}
                {{ form_errors(form.agents) }}
                {% set half_agents = ((form.agents|length)/2)|round %}
                <div class="row">
                    {% for row in form.agents|batch(half_agents) %}
                        <ul class="no-decoration stacked-list">
                            {% for checkbox in row %}
                                <li class="form__checkbox">
                                    {{ form_widget(checkbox) }}
                                    {{ form_label(checkbox, null, {'label_attr': {'class': "label-inline"}}) }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
            </fieldset>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="form__group horizontal__form">
            <fieldset>
                {{ form_label(form.moyens, null, {'element': 'legend'} ) }}
                {{ form_errors(form.moyens) }}
                {% set half_moyens = ((form.moyens|length)/2)|round %}
                <div class="row">
                    {% for row in form.moyens|batch(half_moyens) %}
                        <ul class="no-decoration stacked-list">
                            {% for checkbox in row %}
                                <li class="form__checkbox">
                                    {{ form_widget(checkbox) }}
                                    {{ form_label(checkbox, null, {'label_attr': {'class': "label-inline"}}) }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
            </fieldset>
        </div>
        <div class="form__group horizontal__form">
            {{ form_label(form.distanceTerrestre) }}
            {{ form_errors(form.distanceTerrestre) }}
            {{ form_widget(form.distanceTerrestre) }}
        </div>
        <div></div>
    </div>
    <br>

    <div class="row">
        <div class="form__group horizontal__form">
            {{ form_label(form.lieuMission) }}
            {{ form_errors(form.lieuMission) }}
            {{ form_widget(form.lieuMission) }}
        </div>

        <div class="form__group horizontal__form">
            {{ form_label(form.zoneMission) }}
            {{ form_errors(form.zoneMission) }}
            {{ form_widget(form.zoneMission) }}
        </div>

        <div class="form__group horizontal__form">
            {{ form_label(form.arme) }}
            {{ form_errors(form.arme) }}
            {{ form_widget(form.arme, {'attr': {'class': 'center'}}) }}
        </div>

        <div class="form__group horizontal__form">
            {{ form_label(form.dureeMission) }}
            {{ form_errors(form.dureeMission) }}
            {{ form_widget(form.dureeMission) }}
        </div>
    </div>
    <br>

    {% block body_main_container_rapport_objects %}
    {% endblock body_main_container_rapport_objects %}

    <br>

    <div class="form__group">
        {{ form_label(form.commentaire) }}
        {{ form_errors(form.commentaire) }}
        {{ form_widget(form.commentaire) }}
    </div>

    {{ form_rest(form) }}

    <br>

    <input type="submit" value="Enregistrer" class="button">

    {{ form_end(form) }}

    <br>
    <br>

{% endblock body_main_container %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
{% endblock javascripts %}