{% spaceless %}
<label class="switch" for="{{ form.vars.id }}"
        {% if label_attr is defined %}
            {% for key, val in label_attr %}
                {{ key }}="{{ val }}"
            {% endfor %}
        {% endif %}
>
    {% if attr is defined %}
    {{ form_widget(form, {'attr': attr}) }}
    {% else %}
        {{ form_widget(form) }}
    {% endif %}
    <span class="slider"></span>
    {{ form.vars.label }}
</label>
{{ form_errors(form) }}
{% endspaceless %}